Repository apache/spark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, DOCS, EXAMPLES, SPARK SUBMIT, SPARK SHELL, AVRO, DSTREAM, GRAPHX, ML, MLLIB, STRUCTURED STREAMING, PYTHON, PANDAS API ON SPARK, R, YARN, KUBERNETES, WINDOWS, WEB UI, DEPLOY, CONNECT, PROTOBUF

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

INFRA:
  - changed-files:
    - any-glob-to-any-file: [
     '.github/**/*',
     'tools/**/*',
     'dev/create-release/**/*',
     '.asf.yaml',
     '.gitattributes',
     '.gitignore',
     'dev/merge_spark_pr.py'
    ]

BUILD:
  - changed-files:
    - all-globs-to-any-file: [
     'dev/**/*',
     '!dev/merge_spark_pr.py'
    ]
    - any-glob-to-any-file: [
     'build/**/*',
     'project/**/*',
     'assembly/**/*',
     '**/*pom.xml',
     'bin/docker-image-tool.sh',
     'bin/find-spark-home*',
     'scalastyle-config.xml'
    ]

DOCS:
  - changed-files:
    - any-glob-to-any-file: [
     'docs/**/*',
     '**/README.md',
     '**/CONTRIBUTING.md',
     'python/docs/**/*'
    ]

EXAMPLES:
  - changed-files:
    - any-glob-to-any-file: [
     'examples/**/*',
     'bin/run-example*'
    ]

CORE:
  - changed-files:
    - all-globs-to-any-file: [
     'core/**/*',
     '!**/*UI.scala',
     '!**/ui/**/*'
    ]
    - any-glob-to-any-file: [
     'common/kvstore/**/*',
     'common/network-common/**/*',
     'common/network-shuffle/**/*',
     'python/pyspark/*.py',
     'python/pyspark/tests/**/*.py'
    ]

SPARK SUBMIT:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/spark-submit*'
    ]

SPARK SHELL:
  - changed-files:
    - any-glob-to-any-file: [
     'repl/**/*',
     'bin/spark-shell*'
    ]

SQL:
  - changed-files:
    - all-globs-to-any-file: [
     '**/sql/**/*',
     '!python/**/avro/**/*',
     '!python/**/protobuf/**/*',
     '!python/**/streaming/**/*'
    ]
    - any-glob-to-any-file: [
     'common/unsafe/**/*',
     'common/sketch/**/*',
     'common/variant/**/*',
     'bin/spark-sql*',
     'bin/beeline*',
     'sbin/*thriftserver*.sh',
     '**/*SQL*.R',
     '**/DataFrame.R',
     '**/*WindowSpec.R',
     '**/*catalog.R',
     '**/*column.R',
     '**/*functions.R',
     '**/*group.R',
     '**/*schema.R',
     '**/*types.R'
    ]

AVRO:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/avro/**/*',
     'python/**/avro/**/*'
    ]

DSTREAM:
  - changed-files:
    - any-glob-to-any-file: [
     'streaming/**/*',
     'data/streaming/**/*',
     'connector/kinesis-asl/**/*',
     'connector/kinesis-asl-assembly/**/*',
     'connector/kafka-0-10/**/*',
     'connector/kafka-0-10-assembly/**/*',
     'connector/kafka-0-10-token-provider/**/*',
     'python/pyspark/streaming/**/*'
    ]

GRAPHX:
  - changed-files:
    - any-glob-to-any-file: [
     'graphx/**/*',
     'data/graphx/**/*'
    ]

ML:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ml/**/*',
     '**/*mllib_*.R'
    ]

MLLIB:
  - changed-files:
    - any-glob-to-any-file: [
     '**/mllib/**/*',
     'mllib-local/**/*'
    ]

STRUCTURED STREAMING:
  - changed-files:
    - any-glob-to-any-file: [
     '**/sql/**/streaming/**/*',
     'connector/kafka-0-10-sql/**/*',
     'python/pyspark/sql/**/streaming/**/*',
     '**/*streaming.R'
    ]

PYTHON:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/pyspark*',
     '**/python/**/*'
    ]

PANDAS API ON SPARK:
  - changed-files:
    - any-glob-to-any-file: [
     'python/pyspark/pandas/**/*'
    ]

R:
  - changed-files:
    - any-glob-to-any-file: [
     '**/r/**/*',
     '**/R/**/*',
     'bin/sparkR*'
    ]

YARN:
  - changed-files:
    - any-glob-to-any-file: [
     'resource-managers/yarn/**/*'
    ]

KUBERNETES:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/docker-image-tool.sh',
     'resource-managers/kubernetes/**/*'
    ]

WINDOWS:
  - changed-files:
    - any-glob-to-any-file: [
     '**/*.cmd',
     'R/pkg/tests/fulltests/test_Windows.R'
    ]

WEB UI:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ui/**/*',
     '**/*UI.scala'
    ]

DEPLOY:
  - changed-files:
    - any-glob-to-any-file: [
     'sbin/**/*'
    ]

CONNECT:
  - changed-files:
    - any-glob-to-any-file: [
     'sql/connect/**/*',
     'connector/connect/**/*',
     'python/**/connect/**/*'
    ]

PROTOBUF:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/protobuf/**/*',
     'python/**/protobuf/**/*'
    ]

add cte-recursion goldenfiles
  sql/core/src/test/resources/sql-tests/analyzer-results/cte-recursion.sql.out
  sql/core/src/test/resources/sql-tests/inputs/cte-recursion.sql
  sql/core/src/test/resources/sql-tests/results/cte-recursion.sql.out
Labels: none

Add recursive tests and generated golden files
  sql/core/src/test/resources/sql-tests/analyzer-results/cte-recursion.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/postgreSQL/with.sql.out
  sql/core/src/test/resources/sql-tests/inputs/postgreSQL/with.sql
  sql/core/src/test/resources/sql-tests/results/cte-recursion.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/with.sql.out
Labels: none

[SPARK-50858][PYTHON] Add configuration to hide Python UDF stack trace
  core/src/main/scala/org/apache/spark/api/python/PythonRunner.scala
  python/pyspark/tests/test_util.py
  python/pyspark/util.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ApplyInPandasWithStatePythonRunner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ArrowPythonRunner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ArrowPythonUDTFRunner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/CoGroupedArrowPythonRunner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/PythonForeachWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/PythonPlannerRunner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/PythonUDFRunner.scala
Labels: PYTHON

Update sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Labels: none

fix config description
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Labels: none

add hide_traceback parameter
  python/pyspark/tests/test_util.py
  python/pyspark/util.py
Labels: PYTHON

fix lint
  python/pyspark/util.py
Labels: PYTHON

fix lint
  python/pyspark/tests/test_util.py
Labels: PYTHON

Sort error conditions in correct order
  common/utils/src/main/resources/error/error-conditions.json
Labels: none

minor naming changes
  common/network-shuffle/src/test/java/org/apache/spark/network/shuffle/SimpleDownloadFileSuite.java
Labels: none

[SPARK-50962][SQL] Avoid StringIndexOutOfBoundsException in AttributeNameParser
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/AttributeNameParser.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Labels: none

[SPARK-50962][SQL] Avoid StringIndexOutOfBoundsException in AttributeNameParser
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/AttributeNameParser.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Labels: none

[SPARK-50895][SQL][4.0] Create common interface for expressions which produce default string type
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/CallMethodViaReflection.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Expression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ToPrettyString.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collationExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/csvExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/hash.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/inputFileBlock.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/jsonExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/mathExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/misc.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/numberFormatExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/randomExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/urlExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/variantExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/xml/xpath.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/xmlExpressions.scala
Labels: none

Add new logic for conditions and sqlstates in handler declaration
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SqlScriptingLogicalPlans.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/SqlScriptingParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/scripting/SqlScriptingExecutionContext.scala
  sql/core/src/main/scala/org/apache/spark/sql/scripting/SqlScriptingExecutionNode.scala
  sql/core/src/main/scala/org/apache/spark/sql/scripting/SqlScriptingInterpreter.scala
  sql/core/src/test/scala/org/apache/spark/sql/scripting/SqlScriptingExecutionNodeSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/scripting/SqlScriptingExecutionSuite.scala
Labels: none

Fix scalastyle
  sql/core/src/main/scala/org/apache/spark/sql/execution/metric/SQLMetrics.scala
Labels: none

Fix the usage of `Column.__new__`.
  python/pyspark/pandas/indexing.py
  python/pyspark/pandas/utils.py
  python/pyspark/sql/classic/column.py
  python/pyspark/sql/column.py
  python/pyspark/sql/connect/column.py
Labels: PYTHON, PANDAS API ON SPARK, CONNECT

Fix failing tests
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SqlScriptingLogicalPlans.scala
  sql/core/src/test/scala/org/apache/spark/sql/scripting/SqlScriptingExecutionSuite.scala
Labels: none

[SPARK-50967] Document the case where keys part of the initial state df are also emitted as part of the output
  docs/streaming/apis-on-dataframes-and-datasets.md
Labels: DOCS

fix AvroSuite
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroFunctionsSuite.scala
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
Labels: AVRO

addressed Chenhao's comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/variantExpressions.scala
Labels: none

fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/variantExpressions.scala
Labels: none

update description for hideTraceback
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Labels: none

Fix another scala style issue
  core/src/main/scala/org/apache/spark/util/MetricUtils.scala
Labels: none

update
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalog.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/sql-udf.sql.out
  sql/core/src/test/resources/sql-tests/inputs/sql-udf.sql
  sql/core/src/test/resources/sql-tests/results/sql-udf.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/execution/SQLFunctionSuite.scala
Labels: none

[SPARK-50963][ML][PYTHON][CONNECT] Support Tokenizers, SQLTransform and StopWordsRemover on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  python/pyspark/ml/feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON

[SPARK-50963][ML][PYTHON][CONNECT] Support Tokenizers, SQLTransform and StopWordsRemover on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  python/pyspark/ml/feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON

[SPARK-50919][ML][PYTHON][CONNECT] Support LinearSVC on connect
  mllib-local/src/main/scala/org/apache/spark/ml/linalg/Vectors.scala
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/classification/LinearSVC.scala
  mllib/src/main/scala/org/apache/spark/ml/feature/PCA.scala
  python/pyspark/ml/classification.py
  python/pyspark/ml/tests/test_classification.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50919][ML][PYTHON][CONNECT] Support LinearSVC on connect
  mllib-local/src/main/scala/org/apache/spark/ml/linalg/Vectors.scala
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/classification/LinearSVC.scala
  mllib/src/main/scala/org/apache/spark/ml/feature/PCA.scala
  python/pyspark/ml/classification.py
  python/pyspark/ml/tests/test_classification.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50935][ML][PYTHON][CONNECT] Support DCT on connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON

[SPARK-50935][ML][PYTHON][CONNECT] Support DCT on connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON

init
  python/pyspark/ml/connect/serialize.py
Labels: ML, PYTHON, CONNECT

init
  python/pyspark/ml/connect/serialize.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/Serializer.scala
Labels: ML, PYTHON, CONNECT

[SPARK-50967] Add option to skip emitting initial state keys within the FMGWS operator
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/FlatMapGroupsInPandasWithStateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/FlatMapGroupsWithStateExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/FlatMapGroupsWithStateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/FlatMapGroupsWithStateWithInitialStateSuite.scala
Labels: STRUCTURED STREAMING, PYTHON

[SPARK-50968][PYTHON] Fix the usage of `Column.__new__`
  python/pyspark/pandas/indexing.py
  python/pyspark/pandas/utils.py
  python/pyspark/sql/classic/column.py
  python/pyspark/sql/column.py
  python/pyspark/sql/connect/column.py
Labels: PYTHON, PANDAS API ON SPARK, CONNECT

[SPARK-50968][PYTHON] Fix the usage of `Column.__new__`
  python/pyspark/pandas/indexing.py
  python/pyspark/pandas/utils.py
  python/pyspark/sql/classic/column.py
  python/pyspark/sql/column.py
  python/pyspark/sql/connect/column.py
Labels: PYTHON, PANDAS API ON SPARK, CONNECT

Add test
  sql/core/src/test/scala/org/apache/spark/sql/streaming/FlatMapGroupsWithStateWithInitialStateSuite.scala
Labels: STRUCTURED STREAMING

Fix space
  sql/core/src/test/scala/org/apache/spark/sql/streaming/FlatMapGroupsWithStateWithInitialStateSuite.scala
Labels: STRUCTURED STREAMING

comments
  python/pyspark/ml/evaluation.py
Labels: ML, PYTHON

init
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/clustering/GaussianMixture.scala
  python/pyspark/ml/clustering.py
  python/pyspark/ml/tests/test_clustering.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50770][SS] Removing package scope for transformWithState operator APIs
  sql/api/src/main/java/org/apache/spark/api/java/function/FlatMapGroupsWithStateFunction.java
  sql/api/src/main/java/org/apache/spark/api/java/function/MapGroupsWithStateFunction.java
  sql/api/src/main/java/org/apache/spark/sql/streaming/GroupStateTimeout.java
  sql/api/src/main/java/org/apache/spark/sql/streaming/TimeMode.java
  sql/api/src/main/scala/org/apache/spark/sql/streaming/ExpiredTimerInfo.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/GroupState.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/ListState.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/MapState.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/QueryInfo.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessor.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessorHandle.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/TimerValues.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/ValueState.scala
  sql/core/src/main/scala/org/apache/spark/sql/KeyValueGroupedDataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/TestGroupState.scala
Labels: STRUCTURED STREAMING
