Repository apache/spark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, DOCS, EXAMPLES, SPARK SUBMIT, SPARK SHELL, AVRO, DSTREAM, GRAPHX, ML, MLLIB, STRUCTURED STREAMING, PYTHON, PANDAS API ON SPARK, R, YARN, KUBERNETES, WINDOWS, WEB UI, DEPLOY, CONNECT, PROTOBUF

[SPARK-50946][CORE][TESTS] Add version check for Java 17.0.14 to make `UtilsSuite` test pass
  core/src/test/scala/org/apache/spark/util/UtilsSuite.scala
Labels: none

[SPARK-50853] - Created a simpler test as suggested in PR comments
  common/network-shuffle/src/test/java/org/apache/spark/network/shuffle/SimpleDownloadFileSuite.java
Labels: none

Extends the class comment with more details about execution.
  sql/core/src/main/scala/org/apache/spark/sql/execution/basicPhysicalOperators.scala
Labels: none

Move levelLimit to be a local variable inside doExecute
  sql/core/src/main/scala/org/apache/spark/sql/execution/basicPhysicalOperators.scala
Labels: none

Revert "[SPARK-50946][CORE][TESTS] Add version check for Java 17.0.14 to make `UtilsSuite` test pass"
  core/src/test/scala/org/apache/spark/util/UtilsSuite.scala
Labels: none

initial
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultStringTypes.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Expression.scala
  sql/core/src/test/scala/org/apache/spark/sql/collation/DefaultCollationTestSuite.scala
Labels: none

[SPARK-50946][CORE][TESTS] Add version check for Java 17.0.14 to make `UtilsSuite` test pass
  core/src/test/scala/org/apache/spark/util/UtilsSuite.scala
Labels: none

[SPARK-50946][CORE][TESTS][3.5] Add version check for Java 17.0.14 to make `UtilsSuite` test pass
  core/src/test/scala/org/apache/spark/util/UtilsSuite.scala
Labels: none

refactor SqlScriptingVariableManager to be LexicalThreadLocal singleton, rather than a field in CatalogManager
  common/utils/src/main/scala/org/apache/spark/util/LexicalThreadLocal.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/SqlScriptingVariableManager.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ColumnResolutionHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveCatalogs.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/resolver/ResolverGuard.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogManager.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/v2/CreateVariableExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/v2/SetVariableExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/scripting/SqlScriptingExecution.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/scripting/SqlScriptingExecutionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/scripting/SqlScriptingInterpreterSuite.scala
Labels: none

Set default value to currentLimit and simplified code a bit because of that
  sql/core/src/main/scala/org/apache/spark/sql/execution/basicPhysicalOperators.scala
Labels: none

Fix
  core/src/test/scala/org/apache/spark/util/UtilsSuite.scala
Labels: none

[SPARK-50951][BUILD][TESTS] Update Oracle free version from 23.5 to 23.6
  .github/workflows/build_branch40.yml
  connector/docker-integration-tests/README.md
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/OracleDatabaseOnDocker.scala
Labels: INFRA, DOCS

[SPARK-50951][BUILD][TESTS] Update Oracle free version from 23.5 to 23.6
  connector/docker-integration-tests/README.md
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/OracleDatabaseOnDocker.scala
Labels: DOCS

Set the only cache mode to be repartition
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/basicPhysicalOperators.scala
Labels: none

Refactor handler choosing logic
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/ParserUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/scripting/SqlScriptingExecutionContext.scala
Labels: none

[SPARK-50946][CORE][TESTS][3.5] Add version check for Java 17.0.14 to make `UtilsSuite` test pass
  core/src/test/scala/org/apache/spark/util/UtilsSuite.scala
Labels: none

nit: rename variable
  sql/core/src/main/scala/org/apache/spark/sql/scripting/SqlScriptingExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/scripting/SqlScriptingExecutionContext.scala
Labels: none

[SPARK-50952][BUILD] Include `jjwt`-related libraries and provide `jjwt-provided`
  LICENSE-binary
  assembly/pom.xml
  core/pom.xml
  dev/deps/spark-deps-hadoop-3-hive-2.3
  docs/configuration.md
  docs/security.md
  pom.xml
Labels: DOCS

Adding license to test file
  common/network-shuffle/src/test/java/org/apache/spark/network/shuffle/SimpleDownloadFileSuite.java
Labels: none

reproduce using public API
  common/utils/src/main/resources/error/error-conditions.json
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroCatalystDataConversionSuite.scala
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroFunctionsSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/avro/AvroSerializer.scala
Labels: AVRO

[SPARK-50952][BUILD] Include `jjwt`-related libraries and provide `jjwt-provided` profile
  LICENSE-binary
  assembly/pom.xml
  core/pom.xml
  dev/deps/spark-deps-hadoop-3-hive-2.3
  docs/configuration.md
  docs/security.md
  pom.xml
Labels: DOCS

[SPARK-50952][BUILD] Include `jjwt`-related libraries and provide `jjwt-provided` profile
  LICENSE-binary
  assembly/pom.xml
  core/pom.xml
  dev/deps/spark-deps-hadoop-3-hive-2.3
  docs/configuration.md
  docs/security.md
  pom.xml
Labels: DOCS

Include column name in AlterColumnSpec
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultStringTypes.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2AlterTableCommands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ReplaceCharWithVarchar.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/V2CommandsCaseSensitivitySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
Labels: none

fixup
  sql/api/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala
Labels: none

[MINOR][SQL] Avoid importing java.util at DataFrameWriter
  sql/api/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala
Labels: none

[MINOR][SQL] Avoid importing java.util at DataFrameWriter
  sql/api/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala
Labels: none

Fixing checkstyle
  common/network-shuffle/src/test/java/org/apache/spark/network/shuffle/SimpleDownloadFileSuite.java
Labels: none

resolve tvf
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalog.scala
Labels: none

Revert "[SPARK-50118][CONNET] Reset isolated state cache when tasks are running"
  core/src/main/scala/org/apache/spark/executor/Executor.scala
Labels: none

Revert "[SPARK-50118][CONNET] Reset isolated state cache when tasks are running"
  core/src/main/scala/org/apache/spark/executor/Executor.scala
Labels: none

update
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/PythonStreamingDataSourceSuite.scala
Labels: PYTHON

implement variant_get with non-literal path
  sql/api/src/main/scala/org/apache/spark/sql/functions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/variantExpressions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/PushVariantIntoScan.scala
  sql/core/src/test/scala/org/apache/spark/sql/VariantSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/PushVariantIntoScanSuite.scala
Labels: none

[SPARK-50815][FOLLOW-UP] Handle Variant-related edge-case for createDataFrame
  python/pyspark/sql/connect/conversion.py
  python/pyspark/sql/tests/test_types.py
  python/pyspark/sql/types.py
Labels: PYTHON, CONNECT

[SPARK-50815][FOLLOW-UP] Handle Variant-related edge-case for createDataFrame
  python/pyspark/sql/connect/conversion.py
  python/pyspark/sql/tests/test_types.py
  python/pyspark/sql/types.py
Labels: PYTHON, CONNECT

Added pyspark functions
  python/pyspark/sql/functions/builtin.py
Labels: PYTHON

init
  mllib/src/main/scala/org/apache/spark/ml/classification/ClassificationSummary.scala
  mllib/src/main/scala/org/apache/spark/ml/tree/treeModels.scala
  mllib/src/main/scala/org/apache/spark/ml/util/HasTrainingSummary.scala
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, CONNECT

array -> set
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, CONNECT

fix my MyLogisticRegressionModel
  sql/connect/server/src/test/scala/org/apache/spark/sql/connect/ml/MLHelper.scala
Labels: ML, CONNECT

added connect side support in PySpark
  python/pyspark/sql/connect/functions/builtin.py
  python/pyspark/sql/functions/builtin.py
Labels: PYTHON, CONNECT

fix PCAModel
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, CONNECT

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

INFRA:
  - changed-files:
    - any-glob-to-any-file: [
     '.github/**/*',
     'tools/**/*',
     'dev/create-release/**/*',
     '.asf.yaml',
     '.gitattributes',
     '.gitignore',
     'dev/merge_spark_pr.py'
    ]

BUILD:
  - changed-files:
    - all-globs-to-any-file: [
     'dev/**/*',
     '!dev/merge_spark_pr.py'
    ]
    - any-glob-to-any-file: [
     'build/**/*',
     'project/**/*',
     'assembly/**/*',
     '**/*pom.xml',
     'bin/docker-image-tool.sh',
     'bin/find-spark-home*',
     'scalastyle-config.xml'
    ]

DOCS:
  - changed-files:
    - any-glob-to-any-file: [
     'docs/**/*',
     '**/README.md',
     '**/CONTRIBUTING.md',
     'python/docs/**/*'
    ]

EXAMPLES:
  - changed-files:
    - any-glob-to-any-file: [
     'examples/**/*',
     'bin/run-example*'
    ]

CORE:
  - changed-files:
    - all-globs-to-any-file: [
     'core/**/*',
     '!**/*UI.scala',
     '!**/ui/**/*'
    ]
    - any-glob-to-any-file: [
     'common/kvstore/**/*',
     'common/network-common/**/*',
     'common/network-shuffle/**/*',
     'python/pyspark/*.py',
     'python/pyspark/tests/**/*.py'
    ]

SPARK SUBMIT:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/spark-submit*'
    ]

SPARK SHELL:
  - changed-files:
    - any-glob-to-any-file: [
     'repl/**/*',
     'bin/spark-shell*'
    ]

SQL:
  - changed-files:
    - all-globs-to-any-file: [
     '**/sql/**/*',
     '!python/**/avro/**/*',
     '!python/**/protobuf/**/*',
     '!python/**/streaming/**/*'
    ]
    - any-glob-to-any-file: [
     'common/unsafe/**/*',
     'common/sketch/**/*',
     'common/variant/**/*',
     'bin/spark-sql*',
     'bin/beeline*',
     'sbin/*thriftserver*.sh',
     '**/*SQL*.R',
     '**/DataFrame.R',
     '**/*WindowSpec.R',
     '**/*catalog.R',
     '**/*column.R',
     '**/*functions.R',
     '**/*group.R',
     '**/*schema.R',
     '**/*types.R'
    ]

AVRO:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/avro/**/*',
     'python/**/avro/**/*'
    ]

DSTREAM:
  - changed-files:
    - any-glob-to-any-file: [
     'streaming/**/*',
     'data/streaming/**/*',
     'connector/kinesis-asl/**/*',
     'connector/kinesis-asl-assembly/**/*',
     'connector/kafka-0-10/**/*',
     'connector/kafka-0-10-assembly/**/*',
     'connector/kafka-0-10-token-provider/**/*',
     'python/pyspark/streaming/**/*'
    ]

GRAPHX:
  - changed-files:
    - any-glob-to-any-file: [
     'graphx/**/*',
     'data/graphx/**/*'
    ]

ML:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ml/**/*',
     '**/*mllib_*.R'
    ]

MLLIB:
  - changed-files:
    - any-glob-to-any-file: [
     '**/mllib/**/*',
     'mllib-local/**/*'
    ]

STRUCTURED STREAMING:
  - changed-files:
    - any-glob-to-any-file: [
     '**/sql/**/streaming/**/*',
     'connector/kafka-0-10-sql/**/*',
     'python/pyspark/sql/**/streaming/**/*',
     '**/*streaming.R'
    ]

PYTHON:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/pyspark*',
     '**/python/**/*'
    ]

PANDAS API ON SPARK:
  - changed-files:
    - any-glob-to-any-file: [
     'python/pyspark/pandas/**/*'
    ]

R:
  - changed-files:
    - any-glob-to-any-file: [
     '**/r/**/*',
     '**/R/**/*',
     'bin/sparkR*'
    ]

YARN:
  - changed-files:
    - any-glob-to-any-file: [
     'resource-managers/yarn/**/*'
    ]

KUBERNETES:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/docker-image-tool.sh',
     'resource-managers/kubernetes/**/*'
    ]

WINDOWS:
  - changed-files:
    - any-glob-to-any-file: [
     '**/*.cmd',
     'R/pkg/tests/fulltests/test_Windows.R'
    ]

WEB UI:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ui/**/*',
     '**/*UI.scala'
    ]

DEPLOY:
  - changed-files:
    - any-glob-to-any-file: [
     'sbin/**/*'
    ]

CONNECT:
  - changed-files:
    - any-glob-to-any-file: [
     'sql/connect/**/*',
     'connector/connect/**/*',
     'python/**/connect/**/*'
    ]

PROTOBUF:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/protobuf/**/*',
     'python/**/protobuf/**/*'
    ]
