Repository apache/spark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, DOCS, EXAMPLES, SPARK SUBMIT, SPARK SHELL, AVRO, DSTREAM, GRAPHX, ML, MLLIB, STRUCTURED STREAMING, PYTHON, PANDAS API ON SPARK, R, YARN, KUBERNETES, WINDOWS, WEB UI, DEPLOY, CONNECT, PROTOBUF

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

INFRA:
  - changed-files:
    - any-glob-to-any-file: [
     '.github/**/*',
     'tools/**/*',
     'dev/create-release/**/*',
     '.asf.yaml',
     '.gitattributes',
     '.gitignore',
     'dev/merge_spark_pr.py'
    ]

BUILD:
  - changed-files:
    - all-globs-to-any-file: [
     'dev/**/*',
     '!dev/merge_spark_pr.py'
    ]
    - any-glob-to-any-file: [
     'build/**/*',
     'project/**/*',
     'assembly/**/*',
     '**/*pom.xml',
     'bin/docker-image-tool.sh',
     'bin/find-spark-home*',
     'scalastyle-config.xml'
    ]

DOCS:
  - changed-files:
    - any-glob-to-any-file: [
     'docs/**/*',
     '**/README.md',
     '**/CONTRIBUTING.md',
     'python/docs/**/*'
    ]

EXAMPLES:
  - changed-files:
    - any-glob-to-any-file: [
     'examples/**/*',
     'bin/run-example*'
    ]

CORE:
  - changed-files:
    - all-globs-to-any-file: [
     'core/**/*',
     '!**/*UI.scala',
     '!**/ui/**/*'
    ]
    - any-glob-to-any-file: [
     'common/kvstore/**/*',
     'common/network-common/**/*',
     'common/network-shuffle/**/*',
     'python/pyspark/*.py',
     'python/pyspark/tests/**/*.py'
    ]

SPARK SUBMIT:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/spark-submit*'
    ]

SPARK SHELL:
  - changed-files:
    - any-glob-to-any-file: [
     'repl/**/*',
     'bin/spark-shell*'
    ]

SQL:
  - changed-files:
    - all-globs-to-any-file: [
     '**/sql/**/*',
     '!python/**/avro/**/*',
     '!python/**/protobuf/**/*',
     '!python/**/streaming/**/*'
    ]
    - any-glob-to-any-file: [
     'common/unsafe/**/*',
     'common/sketch/**/*',
     'common/variant/**/*',
     'bin/spark-sql*',
     'bin/beeline*',
     'sbin/*thriftserver*.sh',
     '**/*SQL*.R',
     '**/DataFrame.R',
     '**/*WindowSpec.R',
     '**/*catalog.R',
     '**/*column.R',
     '**/*functions.R',
     '**/*group.R',
     '**/*schema.R',
     '**/*types.R'
    ]

AVRO:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/avro/**/*',
     'python/**/avro/**/*'
    ]

DSTREAM:
  - changed-files:
    - any-glob-to-any-file: [
     'streaming/**/*',
     'data/streaming/**/*',
     'connector/kinesis-asl/**/*',
     'connector/kinesis-asl-assembly/**/*',
     'connector/kafka-0-10/**/*',
     'connector/kafka-0-10-assembly/**/*',
     'connector/kafka-0-10-token-provider/**/*',
     'python/pyspark/streaming/**/*'
    ]

GRAPHX:
  - changed-files:
    - any-glob-to-any-file: [
     'graphx/**/*',
     'data/graphx/**/*'
    ]

ML:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ml/**/*',
     '**/*mllib_*.R'
    ]

MLLIB:
  - changed-files:
    - any-glob-to-any-file: [
     '**/mllib/**/*',
     'mllib-local/**/*'
    ]

STRUCTURED STREAMING:
  - changed-files:
    - any-glob-to-any-file: [
     '**/sql/**/streaming/**/*',
     'connector/kafka-0-10-sql/**/*',
     'python/pyspark/sql/**/streaming/**/*',
     '**/*streaming.R'
    ]

PYTHON:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/pyspark*',
     '**/python/**/*'
    ]

PANDAS API ON SPARK:
  - changed-files:
    - any-glob-to-any-file: [
     'python/pyspark/pandas/**/*'
    ]

R:
  - changed-files:
    - any-glob-to-any-file: [
     '**/r/**/*',
     '**/R/**/*',
     'bin/sparkR*'
    ]

YARN:
  - changed-files:
    - any-glob-to-any-file: [
     'resource-managers/yarn/**/*'
    ]

KUBERNETES:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/docker-image-tool.sh',
     'resource-managers/kubernetes/**/*'
    ]

WINDOWS:
  - changed-files:
    - any-glob-to-any-file: [
     '**/*.cmd',
     'R/pkg/tests/fulltests/test_Windows.R'
    ]

WEB UI:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ui/**/*',
     '**/*UI.scala'
    ]

DEPLOY:
  - changed-files:
    - any-glob-to-any-file: [
     'sbin/**/*'
    ]

CONNECT:
  - changed-files:
    - any-glob-to-any-file: [
     'sql/connect/**/*',
     'connector/connect/**/*',
     'python/**/connect/**/*'
    ]

PROTOBUF:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/protobuf/**/*',
     'python/**/protobuf/**/*'
    ]

added test in test_functions.py
  python/pyspark/sql/tests/test_functions.py
Labels: PYTHON

minor fix
  python/pyspark/sql/functions/builtin.py
Labels: PYTHON

changed Spark version in docs
  sql/api/src/main/scala/org/apache/spark/sql/functions.scala
Labels: none

[SPARK-50909][PYTHON] Setup faulthandler in PythonPlannerRunners
  core/src/main/scala/org/apache/spark/api/python/PythonRunner.scala
  python/pyspark/sql/tests/test_python_datasource.py
  python/pyspark/sql/tests/test_udtf.py
  python/pyspark/sql/worker/analyze_udtf.py
  python/pyspark/sql/worker/commit_data_source_write.py
  python/pyspark/sql/worker/create_data_source.py
  python/pyspark/sql/worker/lookup_data_sources.py
  python/pyspark/sql/worker/plan_data_source_read.py
  python/pyspark/sql/worker/python_streaming_sink_runner.py
  python/pyspark/sql/worker/write_into_data_source.py
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/PythonPlannerRunner.scala
Labels: PYTHON

[SPARK-50883][SQL] Support altering multiple columns in the same command
  common/utils/src/main/resources/error/error-conditions.json
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultStringTypes.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2AlterTableCommands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ReplaceCharWithVarchar.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/V2CommandsCaseSensitivitySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
Labels: none

[SPARK-50883][SQL] Support altering multiple columns in the same command
  common/utils/src/main/resources/error/error-conditions.json
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultStringTypes.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2AlterTableCommands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ReplaceCharWithVarchar.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/V2CommandsCaseSensitivitySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
Labels: none

[SPARK-50091][SQL] Handle case of aggregates in left-hand operand of IN-subquery
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/RewriteSubquerySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SubquerySuite.scala
Labels: none

[SPARK-50091][SQL] Handle case of aggregates in left-hand operand of IN-subquery
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/RewriteSubquerySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SubquerySuite.scala
Labels: none

refactor tests
  mllib/src/main/scala/org/apache/spark/ml/classification/LogisticRegression.scala
  mllib/src/main/scala/org/apache/spark/ml/regression/LinearRegression.scala
  python/pyspark/ml/tests/test_classification.py
  python/pyspark/ml/tests/test_clustering.py
  python/pyspark/ml/tests/test_evaluation.py
  python/pyspark/ml/tests/test_feature.py
  python/pyspark/ml/tests/test_fpm.py
  python/pyspark/ml/tests/test_regression.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLHandler.scala
Labels: ML, MLLIB, PYTHON, CONNECT

Revert "[SPARK-50890][PYTHON][TESTS][CONNECT] Skip test_take in Spark Connect only build"
  python/pyspark/pandas/tests/connect/frame/test_parity_take.py
Labels: PYTHON, PANDAS API ON SPARK, CONNECT

test
  python/pyspark/ml/tests/connect/test_connect_evaluation.py
Labels: ML, PYTHON, CONNECT

Revert "Revert "[SPARK-50890][PYTHON][TESTS][CONNECT] Skip test_take in Spark Connect only build""
  python/pyspark/pandas/tests/connect/frame/test_parity_take.py
Labels: PYTHON, PANDAS API ON SPARK, CONNECT

Rename DataFrameWriter.mode to DataFrameWriter.curmode
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/internal/DataFrameWriterImpl.scala
  sql/api/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/DataFrameWriterImpl.scala
Labels: CONNECT

[SPARK-50826][ML][CONNECT] Refactor the way handling `ALLOWED_ATTRIBUTES`
  mllib/src/main/scala/org/apache/spark/ml/classification/ClassificationSummary.scala
  mllib/src/main/scala/org/apache/spark/ml/tree/treeModels.scala
  mllib/src/main/scala/org/apache/spark/ml/util/HasTrainingSummary.scala
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
  sql/connect/server/src/test/scala/org/apache/spark/sql/connect/ml/MLHelper.scala
Labels: ML, MLLIB, CONNECT

[SPARK-50826][ML][CONNECT] Refactor the way handling `ALLOWED_ATTRIBUTES`
  mllib/src/main/scala/org/apache/spark/ml/classification/ClassificationSummary.scala
  mllib/src/main/scala/org/apache/spark/ml/tree/treeModels.scala
  mllib/src/main/scala/org/apache/spark/ml/util/HasTrainingSummary.scala
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
  sql/connect/server/src/test/scala/org/apache/spark/sql/connect/ml/MLHelper.scala
Labels: ML, MLLIB, CONNECT

[SPARK-50956][PYTHON][TESTS] Skip flaky `EvaluationTestsOnConnect.test_multiclass_classifier_evaluator`
  python/pyspark/ml/tests/connect/test_connect_evaluation.py
Labels: ML, PYTHON, CONNECT

[SPARK-50956][PYTHON][TESTS] Skip flaky `EvaluationTestsOnConnect.test_multiclass_classifier_evaluator`
  python/pyspark/ml/tests/connect/test_connect_evaluation.py
Labels: ML, PYTHON, CONNECT

address comments
  python/pyspark/ml/tests/test_pipeline.py
Labels: ML, PYTHON

init
  dev/sparktestsupport/modules.py
  python/pyspark/ml/connect/readwrite.py
  python/pyspark/ml/pipeline.py
  python/pyspark/ml/tests/connect/test_parity_pipeline.py
  python/pyspark/ml/tests/test_pipeline.py
Labels: ML, PYTHON, CONNECT

init
  python/pyspark/ml/connect/readwrite.py
Labels: ML, PYTHON, CONNECT

rebase
  python/pyspark/ml/connect/readwrite.py
Labels: ML, PYTHON, CONNECT

fix
  python/pyspark/ml/connect/readwrite.py
Labels: ML, PYTHON, CONNECT

fix
  python/pyspark/ml/connect/readwrite.py
  python/pyspark/ml/tests/test_pipeline.py
Labels: ML, PYTHON, CONNECT

[MINOR][SQL] Rename the internal var DataFrameWriter.mode to DataFrameWriter.curmode
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/internal/DataFrameWriterImpl.scala
  sql/api/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/DataFrameWriterImpl.scala
Labels: CONNECT

[MINOR][SQL] Rename the internal var DataFrameWriter.mode to DataFrameWriter.curmode
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/internal/DataFrameWriterImpl.scala
  sql/api/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/DataFrameWriterImpl.scala
Labels: CONNECT

more fix
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/PythonStreamingDataSourceSuite.scala
Labels: PYTHON

set numPartitions for range
  sql/core/src/test/scala/org/apache/spark/sql/execution/HashAggregateCodegenInterruptionSuite.scala
Labels: none

Make protobuf.utils.SchemaConverters private
  connector/protobuf/src/main/scala/org/apache/spark/sql/protobuf/utils/SchemaConverters.scala
Labels: PROTOBUF

removing dip annotations
  sql/api/src/main/java/org/apache/spark/api/java/function/FlatMapGroupsWithStateFunction.java
  sql/api/src/main/java/org/apache/spark/api/java/function/MapGroupsWithStateFunction.java
  sql/api/src/main/java/org/apache/spark/sql/streaming/GroupStateTimeout.java
  sql/api/src/main/java/org/apache/spark/sql/streaming/TimeMode.java
  sql/api/src/main/scala/org/apache/spark/sql/streaming/ExpiredTimerInfo.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/GroupState.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/ListState.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/MapState.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/QueryInfo.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessor.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessorHandle.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/TimerValues.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/ValueState.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/TestGroupState.scala
Labels: STRUCTURED STREAMING

[SPARK-50812][ML][PYTHON][CONNECT][TESTS] refactor some tests
  mllib/src/main/scala/org/apache/spark/ml/classification/LogisticRegression.scala
  mllib/src/main/scala/org/apache/spark/ml/regression/LinearRegression.scala
  python/pyspark/ml/tests/test_classification.py
  python/pyspark/ml/tests/test_clustering.py
  python/pyspark/ml/tests/test_evaluation.py
  python/pyspark/ml/tests/test_feature.py
  python/pyspark/ml/tests/test_fpm.py
  python/pyspark/ml/tests/test_regression.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLHandler.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50812][ML][PYTHON][CONNECT][TESTS] refactor some tests
  mllib/src/main/scala/org/apache/spark/ml/classification/LogisticRegression.scala
  mllib/src/main/scala/org/apache/spark/ml/regression/LinearRegression.scala
  python/pyspark/ml/tests/test_classification.py
  python/pyspark/ml/tests/test_clustering.py
  python/pyspark/ml/tests/test_evaluation.py
  python/pyspark/ml/tests/test_feature.py
  python/pyspark/ml/tests/test_fpm.py
  python/pyspark/ml/tests/test_regression.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLHandler.scala
Labels: ML, MLLIB, PYTHON, CONNECT

removing the imports
  sql/api/src/main/java/org/apache/spark/api/java/function/FlatMapGroupsWithStateFunction.java
  sql/api/src/main/java/org/apache/spark/api/java/function/MapGroupsWithStateFunction.java
  sql/api/src/main/java/org/apache/spark/sql/streaming/GroupStateTimeout.java
  sql/api/src/main/java/org/apache/spark/sql/streaming/TimeMode.java
Labels: STRUCTURED STREAMING

init
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/Word2Vec.scala
  python/pyspark/ml/feature.py
  python/pyspark/ml/tests/test_feature.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

todo
  python/pyspark/ml/tests/test_feature.py
Labels: ML, PYTHON

Resolved comments
  common/utils/src/main/resources/error/error-conditions.json
  python/pyspark/sql/tests/connect/client/test_artifact.py
  sql/core/src/main/scala/org/apache/spark/sql/artifact/ArtifactManager.scala
Labels: PYTHON, CONNECT

[SPARK-50918][ML][PYTHON][CONNECT] Support Pipeline on connect
  dev/sparktestsupport/modules.py
  python/pyspark/ml/connect/readwrite.py
  python/pyspark/ml/pipeline.py
  python/pyspark/ml/tests/connect/test_parity_pipeline.py
  python/pyspark/ml/tests/test_pipeline.py
Labels: ML, PYTHON, CONNECT

[SPARK-50918][ML][PYTHON][CONNECT] Support Pipeline on connect
  dev/sparktestsupport/modules.py
  python/pyspark/ml/connect/readwrite.py
  python/pyspark/ml/pipeline.py
  python/pyspark/ml/tests/connect/test_parity_pipeline.py
  python/pyspark/ml/tests/test_pipeline.py
Labels: ML, PYTHON, CONNECT

swallow the exception of JavaWrapper.__del__
  python/pyspark/ml/wrapper.py
Labels: ML, PYTHON

[SPARK-50960][PYTHON][CONNECT] Add InvalidPlanInput to Spark Connect Python client
  python/pyspark/errors/exceptions/connect.py
  python/pyspark/sql/tests/connect/test_parity_udtf.py
Labels: PYTHON, CONNECT

[SPARK-50917][EXAMPLES] Make SparkPi Scala example spark-connect compatible
  examples/src/main/scala/org/apache/spark/examples/SparkPi.scala
Labels: EXAMPLES
