Repository apache/spark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, DOCS, EXAMPLES, SPARK SUBMIT, SPARK SHELL, AVRO, DSTREAM, GRAPHX, ML, MLLIB, STRUCTURED STREAMING, PYTHON, PANDAS API ON SPARK, R, YARN, KUBERNETES, WINDOWS, WEB UI, DEPLOY, CONNECT, PROTOBUF

init
  project/SparkBuild.scala
Labels: none

Perform RDD conversion under tracked execution
  sql/core/src/main/scala/org/apache/spark/sql/classic/Dataset.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Labels: none

[SPARK-50988][ML][PYTHON][CONNECT] Fix uid inconsistencies for estimator and model
  python/pyspark/ml/tests/test_als.py
  python/pyspark/ml/tests/test_classification.py
  python/pyspark/ml/tests/test_clustering.py
  python/pyspark/ml/tests/test_feature.py
  python/pyspark/ml/tests/test_fpm.py
  python/pyspark/ml/tests/test_regression.py
  python/pyspark/ml/util.py
  python/pyspark/ml/wrapper.py
Labels: ML, PYTHON

[SPARK-50988][ML][PYTHON][CONNECT] Fix uid inconsistencies for estimator and model
  python/pyspark/ml/tests/test_als.py
  python/pyspark/ml/tests/test_classification.py
  python/pyspark/ml/tests/test_clustering.py
  python/pyspark/ml/tests/test_feature.py
  python/pyspark/ml/tests/test_fpm.py
  python/pyspark/ml/tests/test_regression.py
  python/pyspark/ml/util.py
  python/pyspark/ml/wrapper.py
Labels: ML, PYTHON

fix test cases
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcSQLQueryBuilder.scala
Labels: none

fix
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
Labels: none

update
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCOptions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcSQLQueryBuilder.scala
Labels: none

fix test cases
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcSQLQueryBuilder.scala
Labels: none

support hint
  docs/sql-data-sources-jdbc.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCOptions.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MySQLDialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/OracleDialect.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Labels: DOCS

update
  common/utils/src/main/resources/error/error-conditions.json
  docs/sql-data-sources-jdbc.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCOptions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/DB2Dialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/DatabricksDialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcSQLQueryBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MsSqlServerDialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MySQLDialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/OracleDialect.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Labels: DOCS

update
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Labels: none

fix
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/clustering/LDA.scala
  python/pyspark/ml/clustering.py
  python/pyspark/ml/tests/test_clustering.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

fix
  mllib/src/main/scala/org/apache/spark/ml/clustering/BisectingKMeans.scala
  mllib/src/main/scala/org/apache/spark/ml/clustering/KMeans.scala
  python/pyspark/ml/clustering.py
  python/pyspark/ml/tests/test_clustering.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

update
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcSQLQueryBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MySQLDialect.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Labels: none

[SPARK-50993][SQL] Move nullDataSourceOption from QueryCompilationErrors to QueryExecutionErrors
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCOptions.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Labels: none

[SPARK-50993][SQL] Move nullDataSourceOption from QueryCompilationErrors into QueryExecutionErrors
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCOptions.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Labels: none

[SPARK-50993][SQL] Move nullDataSourceOption from QueryCompilationErrors into QueryExecutionErrors
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCOptions.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Labels: none

Fix failing test case
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/SQLQuerySuite.scala
Labels: none

Also apply truncation if top level is not truncated
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/StringUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExpressionSet.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ExpressionSetSuite.scala
Labels: none

[SPARK-50996][K8S] Increase `spark.kubernetes.allocation.batch.size` to 10
  docs/core-migration-guide.md
  docs/running-on-kubernetes.md
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/Config.scala
Labels: DOCS, KUBERNETES

[SPARK-50997][DOCS] Remove `\t` character in `docs`
  docs/mllib-decision-tree.md
  docs/mllib-ensembles.md
  docs/running-on-kubernetes.md
  docs/sql-ref-ansi-compliance.md
  docs/sql-ref-syntax-qry-select-aggregate.md
  docs/sql-ref-syntax-qry-select-transform.md
  docs/streaming-kafka-0-10-integration.md
  docs/streaming-programming-guide.md
  docs/streaming/performance-tips.md
  docs/web-ui.md
Labels: DOCS

[SPARK-50998][K8S][DOCS] Fix `spark.kubernetes.configMap.maxSize` default value in docs
  docs/running-on-kubernetes.md
Labels: DOCS

[SPARK-51000][K8S][DOCS] Drop K8s v1.29 Support
  docs/running-on-kubernetes.md
Labels: DOCS

[SPARK-50996][K8S] Increase `spark.kubernetes.allocation.batch.size` to 10
  docs/core-migration-guide.md
  docs/running-on-kubernetes.md
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/Config.scala
Labels: DOCS, KUBERNETES

[SPARK-50996][K8S] Increase `spark.kubernetes.allocation.batch.size` to 10
  docs/core-migration-guide.md
  docs/running-on-kubernetes.md
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/Config.scala
Labels: DOCS, KUBERNETES

[SPARK-50997][DOCS] Remove `\t` character in `docs`
  docs/mllib-decision-tree.md
  docs/mllib-ensembles.md
  docs/running-on-kubernetes.md
  docs/sql-ref-ansi-compliance.md
  docs/sql-ref-syntax-qry-select-aggregate.md
  docs/sql-ref-syntax-qry-select-transform.md
  docs/streaming-kafka-0-10-integration.md
  docs/streaming-programming-guide.md
  docs/streaming/performance-tips.md
  docs/web-ui.md
Labels: DOCS

[SPARK-50997][DOCS] Remove `\t` character in `docs`
  docs/mllib-decision-tree.md
  docs/mllib-ensembles.md
  docs/running-on-kubernetes.md
  docs/sql-ref-ansi-compliance.md
  docs/sql-ref-syntax-qry-select-aggregate.md
  docs/sql-ref-syntax-qry-select-transform.md
  docs/streaming-kafka-0-10-integration.md
  docs/streaming-programming-guide.md
  docs/streaming/performance-tips.md
  docs/web-ui.md
Labels: DOCS

[SPARK-50998][K8S][DOCS] Fix `spark.kubernetes.configMap.maxSize` default value in docs
  docs/running-on-kubernetes.md
Labels: DOCS

[SPARK-50998][K8S][DOCS] Fix `spark.kubernetes.configMap.maxSize` default value in docs
  docs/running-on-kubernetes.md
Labels: DOCS

[SPARK-50998][K8S][DOCS] Fix `spark.kubernetes.configMap.maxSize` default value in docs
  docs/running-on-kubernetes.md
Labels: DOCS

[SPARK-51000][K8S][DOCS] Drop K8s v1.29 Support
  docs/running-on-kubernetes.md
Labels: DOCS

[SPARK-51000][K8S][DOCS] Drop K8s v1.29 Support
  docs/running-on-kubernetes.md
Labels: DOCS

[SPARK-50929][ML][PYTHON][CONNECT] Support `LDA` on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/clustering/LDA.scala
  python/pyspark/ml/clustering.py
  python/pyspark/ml/tests/test_clustering.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50929][ML][PYTHON][CONNECT] Support `LDA` on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/clustering/LDA.scala
  python/pyspark/ml/clustering.py
  python/pyspark/ml/tests/test_clustering.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50995][ML][PYTHON][CONNECT] Support `clusterCenters` for KMeans and BisectingKMeans
  mllib/src/main/scala/org/apache/spark/ml/clustering/BisectingKMeans.scala
  mllib/src/main/scala/org/apache/spark/ml/clustering/KMeans.scala
  python/pyspark/ml/clustering.py
  python/pyspark/ml/tests/test_clustering.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50995][ML][PYTHON][CONNECT] Support `clusterCenters` for KMeans and BisectingKMeans
  mllib/src/main/scala/org/apache/spark/ml/clustering/BisectingKMeans.scala
  mllib/src/main/scala/org/apache/spark/ml/clustering/KMeans.scala
  python/pyspark/ml/clustering.py
  python/pyspark/ml/tests/test_clustering.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-51001][SQL] Refine arrayEquals
  common/unsafe/src/main/java/org/apache/spark/unsafe/array/ByteArrayMethods.java
Labels: none

Behave `Dataset#rdd` like any other operations on RDD
  sql/core/src/main/scala/org/apache/spark/sql/classic/Dataset.scala
Labels: none

style fix
  sql/core/src/main/scala/org/apache/spark/sql/classic/Dataset.scala
Labels: none

Remove private access modifier from OpenHashMap
  core/src/main/scala/org/apache/spark/util/collection/OpenHashMap.scala
Labels: none

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

INFRA:
  - changed-files:
    - any-glob-to-any-file: [
     '.github/**/*',
     'tools/**/*',
     'dev/create-release/**/*',
     '.asf.yaml',
     '.gitattributes',
     '.gitignore',
     'dev/merge_spark_pr.py'
    ]

BUILD:
  - changed-files:
    - all-globs-to-any-file: [
     'dev/**/*',
     '!dev/merge_spark_pr.py'
    ]
    - any-glob-to-any-file: [
     'build/**/*',
     'project/**/*',
     'assembly/**/*',
     '**/*pom.xml',
     'bin/docker-image-tool.sh',
     'bin/find-spark-home*',
     'scalastyle-config.xml'
    ]

DOCS:
  - changed-files:
    - any-glob-to-any-file: [
     'docs/**/*',
     '**/README.md',
     '**/CONTRIBUTING.md',
     'python/docs/**/*'
    ]

EXAMPLES:
  - changed-files:
    - any-glob-to-any-file: [
     'examples/**/*',
     'bin/run-example*'
    ]

CORE:
  - changed-files:
    - all-globs-to-any-file: [
     'core/**/*',
     '!**/*UI.scala',
     '!**/ui/**/*'
    ]
    - any-glob-to-any-file: [
     'common/kvstore/**/*',
     'common/network-common/**/*',
     'common/network-shuffle/**/*',
     'python/pyspark/*.py',
     'python/pyspark/tests/**/*.py'
    ]

SPARK SUBMIT:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/spark-submit*'
    ]

SPARK SHELL:
  - changed-files:
    - any-glob-to-any-file: [
     'repl/**/*',
     'bin/spark-shell*'
    ]

SQL:
  - changed-files:
    - all-globs-to-any-file: [
     '**/sql/**/*',
     '!python/**/avro/**/*',
     '!python/**/protobuf/**/*',
     '!python/**/streaming/**/*'
    ]
    - any-glob-to-any-file: [
     'common/unsafe/**/*',
     'common/sketch/**/*',
     'common/variant/**/*',
     'bin/spark-sql*',
     'bin/beeline*',
     'sbin/*thriftserver*.sh',
     '**/*SQL*.R',
     '**/DataFrame.R',
     '**/*WindowSpec.R',
     '**/*catalog.R',
     '**/*column.R',
     '**/*functions.R',
     '**/*group.R',
     '**/*schema.R',
     '**/*types.R'
    ]

AVRO:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/avro/**/*',
     'python/**/avro/**/*'
    ]

DSTREAM:
  - changed-files:
    - any-glob-to-any-file: [
     'streaming/**/*',
     'data/streaming/**/*',
     'connector/kinesis-asl/**/*',
     'connector/kinesis-asl-assembly/**/*',
     'connector/kafka-0-10/**/*',
     'connector/kafka-0-10-assembly/**/*',
     'connector/kafka-0-10-token-provider/**/*',
     'python/pyspark/streaming/**/*'
    ]

GRAPHX:
  - changed-files:
    - any-glob-to-any-file: [
     'graphx/**/*',
     'data/graphx/**/*'
    ]

ML:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ml/**/*',
     '**/*mllib_*.R'
    ]

MLLIB:
  - changed-files:
    - any-glob-to-any-file: [
     '**/mllib/**/*',
     'mllib-local/**/*'
    ]

STRUCTURED STREAMING:
  - changed-files:
    - any-glob-to-any-file: [
     '**/sql/**/streaming/**/*',
     'connector/kafka-0-10-sql/**/*',
     'python/pyspark/sql/**/streaming/**/*',
     '**/*streaming.R'
    ]

PYTHON:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/pyspark*',
     '**/python/**/*'
    ]

PANDAS API ON SPARK:
  - changed-files:
    - any-glob-to-any-file: [
     'python/pyspark/pandas/**/*'
    ]

R:
  - changed-files:
    - any-glob-to-any-file: [
     '**/r/**/*',
     '**/R/**/*',
     'bin/sparkR*'
    ]

YARN:
  - changed-files:
    - any-glob-to-any-file: [
     'resource-managers/yarn/**/*'
    ]

KUBERNETES:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/docker-image-tool.sh',
     'resource-managers/kubernetes/**/*'
    ]

WINDOWS:
  - changed-files:
    - any-glob-to-any-file: [
     '**/*.cmd',
     'R/pkg/tests/fulltests/test_Windows.R'
    ]

WEB UI:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ui/**/*',
     '**/*UI.scala'
    ]

DEPLOY:
  - changed-files:
    - any-glob-to-any-file: [
     'sbin/**/*'
    ]

CONNECT:
  - changed-files:
    - any-glob-to-any-file: [
     'sql/connect/**/*',
     'connector/connect/**/*',
     'python/**/connect/**/*'
    ]

PROTOBUF:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/protobuf/**/*',
     'python/**/protobuf/**/*'
    ]
