Repository apache/spark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, DOCS, EXAMPLES, SPARK SUBMIT, SPARK SHELL, AVRO, DSTREAM, GRAPHX, ML, MLLIB, STRUCTURED STREAMING, PYTHON, PANDAS API ON SPARK, R, YARN, KUBERNETES, WINDOWS, WEB UI, DEPLOY, CONNECT, PROTOBUF

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

INFRA:
  - changed-files:
    - any-glob-to-any-file: [
     '.github/**/*',
     'tools/**/*',
     'dev/create-release/**/*',
     '.asf.yaml',
     '.gitattributes',
     '.gitignore',
     'dev/merge_spark_pr.py'
    ]

BUILD:
  - changed-files:
    - all-globs-to-any-file: [
     'dev/**/*',
     '!dev/merge_spark_pr.py'
    ]
    - any-glob-to-any-file: [
     'build/**/*',
     'project/**/*',
     'assembly/**/*',
     '**/*pom.xml',
     'bin/docker-image-tool.sh',
     'bin/find-spark-home*',
     'scalastyle-config.xml'
    ]

DOCS:
  - changed-files:
    - any-glob-to-any-file: [
     'docs/**/*',
     '**/README.md',
     '**/CONTRIBUTING.md',
     'python/docs/**/*'
    ]

EXAMPLES:
  - changed-files:
    - any-glob-to-any-file: [
     'examples/**/*',
     'bin/run-example*'
    ]

CORE:
  - changed-files:
    - all-globs-to-any-file: [
     'core/**/*',
     '!**/*UI.scala',
     '!**/ui/**/*'
    ]
    - any-glob-to-any-file: [
     'common/kvstore/**/*',
     'common/network-common/**/*',
     'common/network-shuffle/**/*',
     'python/pyspark/*.py',
     'python/pyspark/tests/**/*.py'
    ]

SPARK SUBMIT:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/spark-submit*'
    ]

SPARK SHELL:
  - changed-files:
    - any-glob-to-any-file: [
     'repl/**/*',
     'bin/spark-shell*'
    ]

SQL:
  - changed-files:
    - all-globs-to-any-file: [
     '**/sql/**/*',
     '!python/**/avro/**/*',
     '!python/**/protobuf/**/*',
     '!python/**/streaming/**/*'
    ]
    - any-glob-to-any-file: [
     'common/unsafe/**/*',
     'common/sketch/**/*',
     'common/variant/**/*',
     'bin/spark-sql*',
     'bin/beeline*',
     'sbin/*thriftserver*.sh',
     '**/*SQL*.R',
     '**/DataFrame.R',
     '**/*WindowSpec.R',
     '**/*catalog.R',
     '**/*column.R',
     '**/*functions.R',
     '**/*group.R',
     '**/*schema.R',
     '**/*types.R'
    ]

AVRO:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/avro/**/*',
     'python/**/avro/**/*'
    ]

DSTREAM:
  - changed-files:
    - any-glob-to-any-file: [
     'streaming/**/*',
     'data/streaming/**/*',
     'connector/kinesis-asl/**/*',
     'connector/kinesis-asl-assembly/**/*',
     'connector/kafka-0-10/**/*',
     'connector/kafka-0-10-assembly/**/*',
     'connector/kafka-0-10-token-provider/**/*',
     'python/pyspark/streaming/**/*'
    ]

GRAPHX:
  - changed-files:
    - any-glob-to-any-file: [
     'graphx/**/*',
     'data/graphx/**/*'
    ]

ML:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ml/**/*',
     '**/*mllib_*.R'
    ]

MLLIB:
  - changed-files:
    - any-glob-to-any-file: [
     '**/mllib/**/*',
     'mllib-local/**/*'
    ]

STRUCTURED STREAMING:
  - changed-files:
    - any-glob-to-any-file: [
     '**/sql/**/streaming/**/*',
     'connector/kafka-0-10-sql/**/*',
     'python/pyspark/sql/**/streaming/**/*',
     '**/*streaming.R'
    ]

PYTHON:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/pyspark*',
     '**/python/**/*'
    ]

PANDAS API ON SPARK:
  - changed-files:
    - any-glob-to-any-file: [
     'python/pyspark/pandas/**/*'
    ]

R:
  - changed-files:
    - any-glob-to-any-file: [
     '**/r/**/*',
     '**/R/**/*',
     'bin/sparkR*'
    ]

YARN:
  - changed-files:
    - any-glob-to-any-file: [
     'resource-managers/yarn/**/*'
    ]

KUBERNETES:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/docker-image-tool.sh',
     'resource-managers/kubernetes/**/*'
    ]

WINDOWS:
  - changed-files:
    - any-glob-to-any-file: [
     '**/*.cmd',
     'R/pkg/tests/fulltests/test_Windows.R'
    ]

WEB UI:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ui/**/*',
     '**/*UI.scala'
    ]

DEPLOY:
  - changed-files:
    - any-glob-to-any-file: [
     'sbin/**/*'
    ]

CONNECT:
  - changed-files:
    - any-glob-to-any-file: [
     'sql/connect/**/*',
     'connector/connect/**/*',
     'python/**/connect/**/*'
    ]

PROTOBUF:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/protobuf/**/*',
     'python/**/protobuf/**/*'
    ]

[SPARK-50957][PROTOBUF] Make protobuf.utils.SchemaConverters private
  connector/protobuf/src/main/scala/org/apache/spark/sql/protobuf/utils/SchemaConverters.scala
Labels: PROTOBUF

[SPARK-50957][PROTOBUF] Make protobuf.utils.SchemaConverters private
  connector/protobuf/src/main/scala/org/apache/spark/sql/protobuf/utils/SchemaConverters.scala
Labels: PROTOBUF

Add exception in case UNION only is used
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveWithCTE.scala
Labels: none

Add SQLPi
  examples/src/main/scala/org/apache/spark/examples/sql/SparkSQLPi.scala
Labels: EXAMPLES

init
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
Labels: CONNECT

Push initial restructure
  core/src/main/scala/org/apache/spark/util/MetricUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/python/PythonCustomMetric.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/metric/SQLMetrics.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/ui/SQLAppStatusListener.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/ui/SQLAppStatusListenerSuite.scala
Labels: PYTHON, WEB UI

Support isLargerBetter in Evaluator
  python/pyspark/ml/evaluation.py
  python/pyspark/ml/tests/test_evaluation.py
Labels: ML, PYTHON

Fix a test in DataFrameSuite
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Labels: none

[SPARK-50947][PYTHON][SQL][CONNECT] Assign appropriate error class and SparkException for duplicated artifacts
  common/utils/src/main/resources/error/error-conditions.json
  python/pyspark/sql/tests/connect/client/test_artifact.py
  sql/core/src/main/scala/org/apache/spark/sql/artifact/ArtifactManager.scala
Labels: PYTHON, CONNECT

[SPARK-50947][PYTHON][SQL][CONNECT] Assign appropriate error class and SparkException for duplicated artifacts
  common/utils/src/main/resources/error/error-conditions.json
  python/pyspark/sql/tests/connect/client/test_artifact.py
  sql/core/src/main/scala/org/apache/spark/sql/artifact/ArtifactManager.scala
Labels: PYTHON, CONNECT

[SPARK-50959][ML][PYTHON] Swallow the exception of JavaWrapper.__del__
  python/pyspark/ml/wrapper.py
Labels: ML, PYTHON

[SPARK-50959][ML][PYTHON] Swallow the exception of JavaWrapper.__del__
  python/pyspark/ml/wrapper.py
Labels: ML, PYTHON

[MINOR][SQL][FOLLOWUP] Fix a `mode` test in DataFrameSuite
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Labels: none

[MINOR][SQL][FOLLOWUP] Fix a `mode` test in DataFrameSuite
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Labels: none

[SPARK-50939][ML][PYTHON][CONNECT] Support Word2Vec on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/Word2Vec.scala
  python/pyspark/ml/feature.py
  python/pyspark/ml/tests/test_feature.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50939][ML][PYTHON][CONNECT] Support Word2Vec on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/Word2Vec.scala
  python/pyspark/ml/feature.py
  python/pyspark/ml/tests/test_feature.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50962][SQL] Avoid StringIndexOutOfBoundsException in AttributeNameParser
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/AttributeNameParser.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Labels: none

followup
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/NormalizePlan.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/plans/NormalizePlanSuite.scala
Labels: none

init
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  python/pyspark/ml/feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON

init
  python/pyspark/ml/feature.py
Labels: ML, PYTHON

init
  mllib-local/src/main/scala/org/apache/spark/ml/linalg/Vectors.scala
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/classification/LinearSVC.scala
  mllib/src/main/scala/org/apache/spark/ml/feature/PCA.scala
  python/pyspark/ml/classification.py
  python/pyspark/ml/tests/test_classification.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

init
  python/pyspark/ml/tests/test_classification.py
Labels: ML, PYTHON

init
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON

renames
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/main/scala/org/apache/spark/sql/scripting/SqlScriptingExecution.scala
  sql/core/src/test/scala/org/apache/spark/sql/scripting/SqlScriptingExecutionSuite.scala
Labels: none

init
  python/pyspark/ml/feature.py
Labels: ML, PYTHON

Add tests for handler chaining and undefined handler
  sql/core/src/test/scala/org/apache/spark/sql/scripting/SqlScriptingExecutionSuite.scala
Labels: none

Forbid declaring qualified condition names
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/SqlScriptingErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/SqlScriptingParserSuite.scala
Labels: none

fix failing tests for variantagg
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultStringTypes.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/variantExpressions.scala
Labels: none

Move quote function to ExpressionUtils, and use StaticInvoke instead of Invoke
  common/unsafe/src/main/java/org/apache/spark/unsafe/types/UTF8String.java
  sql/catalyst/src/main/java/org/apache/spark/sql/catalyst/expressions/ExpressionImplUtils.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/StringFunctionsSuite.scala
Labels: none

Add passing down recursiveCTERelation to subqueries to substitute recursive refs inside subqueries as well. Remove check for subquery in CTESubstitution.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CTESubstitution.scala
Labels: none

Add check for self reference within subquery to ResolveWithCTE
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveWithCTE.scala
Labels: none

[SPARK-50964][SQL] Use StaticInvoke to implement `VariantGet` codegen
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/ToVariantPathSegmentArray.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/variantExpressions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/PushVariantIntoScan.scala
Labels: none

fix failing test
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultStringTypes.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/finishAnalysis.scala
Labels: none

Initial
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientE2ETestSuite.scala
Labels: CONNECT

Removes check number of self references from CTESubstitution
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CTESubstitution.scala
Labels: none

Removes check for self ref in subquery; adds check number of self ref from/to ResolveWithCTE
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveWithCTE.scala
Labels: none

Add check for self ref in subquery to CheckAnalysis
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
Labels: none

Fix for ExpressionInfoSuite
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
Labels: none

remove accidental change
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/finishAnalysis.scala
Labels: none

Replace Limit with LocalLimit
  sql/core/src/main/scala/org/apache/spark/sql/execution/basicPhysicalOperators.scala
Labels: none
