Repository apache/spark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, DOCS, EXAMPLES, SPARK SUBMIT, SPARK SHELL, AVRO, DSTREAM, GRAPHX, ML, MLLIB, STRUCTURED STREAMING, PYTHON, PANDAS API ON SPARK, R, YARN, KUBERNETES, WINDOWS, WEB UI, DEPLOY, CONNECT, PROTOBUF

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

INFRA:
  - changed-files:
    - any-glob-to-any-file: [
     '.github/**/*',
     'tools/**/*',
     'dev/create-release/**/*',
     '.asf.yaml',
     '.gitattributes',
     '.gitignore',
     'dev/merge_spark_pr.py'
    ]

BUILD:
  - changed-files:
    - all-globs-to-any-file: [
     'dev/**/*',
     '!dev/merge_spark_pr.py'
    ]
    - any-glob-to-any-file: [
     'build/**/*',
     'project/**/*',
     'assembly/**/*',
     '**/*pom.xml',
     'bin/docker-image-tool.sh',
     'bin/find-spark-home*',
     'scalastyle-config.xml'
    ]

DOCS:
  - changed-files:
    - any-glob-to-any-file: [
     'docs/**/*',
     '**/README.md',
     '**/CONTRIBUTING.md',
     'python/docs/**/*'
    ]

EXAMPLES:
  - changed-files:
    - any-glob-to-any-file: [
     'examples/**/*',
     'bin/run-example*'
    ]

CORE:
  - changed-files:
    - all-globs-to-any-file: [
     'core/**/*',
     '!**/*UI.scala',
     '!**/ui/**/*'
    ]
    - any-glob-to-any-file: [
     'common/kvstore/**/*',
     'common/network-common/**/*',
     'common/network-shuffle/**/*',
     'python/pyspark/*.py',
     'python/pyspark/tests/**/*.py'
    ]

SPARK SUBMIT:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/spark-submit*'
    ]

SPARK SHELL:
  - changed-files:
    - any-glob-to-any-file: [
     'repl/**/*',
     'bin/spark-shell*'
    ]

SQL:
  - changed-files:
    - all-globs-to-any-file: [
     '**/sql/**/*',
     '!python/**/avro/**/*',
     '!python/**/protobuf/**/*',
     '!python/**/streaming/**/*'
    ]
    - any-glob-to-any-file: [
     'common/unsafe/**/*',
     'common/sketch/**/*',
     'common/variant/**/*',
     'bin/spark-sql*',
     'bin/beeline*',
     'sbin/*thriftserver*.sh',
     '**/*SQL*.R',
     '**/DataFrame.R',
     '**/*WindowSpec.R',
     '**/*catalog.R',
     '**/*column.R',
     '**/*functions.R',
     '**/*group.R',
     '**/*schema.R',
     '**/*types.R'
    ]

AVRO:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/avro/**/*',
     'python/**/avro/**/*'
    ]

DSTREAM:
  - changed-files:
    - any-glob-to-any-file: [
     'streaming/**/*',
     'data/streaming/**/*',
     'connector/kinesis-asl/**/*',
     'connector/kinesis-asl-assembly/**/*',
     'connector/kafka-0-10/**/*',
     'connector/kafka-0-10-assembly/**/*',
     'connector/kafka-0-10-token-provider/**/*',
     'python/pyspark/streaming/**/*'
    ]

GRAPHX:
  - changed-files:
    - any-glob-to-any-file: [
     'graphx/**/*',
     'data/graphx/**/*'
    ]

ML:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ml/**/*',
     '**/*mllib_*.R'
    ]

MLLIB:
  - changed-files:
    - any-glob-to-any-file: [
     '**/mllib/**/*',
     'mllib-local/**/*'
    ]

STRUCTURED STREAMING:
  - changed-files:
    - any-glob-to-any-file: [
     '**/sql/**/streaming/**/*',
     'connector/kafka-0-10-sql/**/*',
     'python/pyspark/sql/**/streaming/**/*',
     '**/*streaming.R'
    ]

PYTHON:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/pyspark*',
     '**/python/**/*'
    ]

PANDAS API ON SPARK:
  - changed-files:
    - any-glob-to-any-file: [
     'python/pyspark/pandas/**/*'
    ]

R:
  - changed-files:
    - any-glob-to-any-file: [
     '**/r/**/*',
     '**/R/**/*',
     'bin/sparkR*'
    ]

YARN:
  - changed-files:
    - any-glob-to-any-file: [
     'resource-managers/yarn/**/*'
    ]

KUBERNETES:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/docker-image-tool.sh',
     'resource-managers/kubernetes/**/*'
    ]

WINDOWS:
  - changed-files:
    - any-glob-to-any-file: [
     '**/*.cmd',
     'R/pkg/tests/fulltests/test_Windows.R'
    ]

WEB UI:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ui/**/*',
     '**/*UI.scala'
    ]

DEPLOY:
  - changed-files:
    - any-glob-to-any-file: [
     'sbin/**/*'
    ]

CONNECT:
  - changed-files:
    - any-glob-to-any-file: [
     'sql/connect/**/*',
     'connector/connect/**/*',
     'python/**/connect/**/*'
    ]

PROTOBUF:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/protobuf/**/*',
     'python/**/protobuf/**/*'
    ]

[SPARK-50987][DOCS] Make `spark-connect-overview.md`s version strings up-to-date
  docs/spark-connect-overview.md
Labels: DOCS

[SPARK-50987][DOCS] Make `spark-connect-overview.md`s version strings up-to-date
  docs/spark-connect-overview.md
Labels: DOCS

Update python/pyspark/ml/tests/connect/test_connect_evaluation.py
  python/pyspark/ml/tests/connect/test_connect_evaluation.py
Labels: ML, PYTHON, CONNECT

[SPARK-50812][ML][PYTHON][CONNECT] Support TargetEncoderModel on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/TargetEncoder.scala
  python/pyspark/ml/tests/connect/test_parity_feature.py
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50812][ML][PYTHON][CONNECT] Support TargetEncoderModel on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/TargetEncoder.scala
  python/pyspark/ml/tests/connect/test_parity_feature.py
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50936][ML][PYTHON][CONNECT] Support HashingTF, IDF and FeatureHasher on connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/IDF.scala
  python/pyspark/ml/tests/connect/test_parity_feature.py
  python/pyspark/ml/tests/test_feature.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50936][ML][PYTHON][CONNECT] Support HashingTF, IDF and FeatureHasher on connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/IDF.scala
  python/pyspark/ml/tests/connect/test_parity_feature.py
  python/pyspark/ml/tests/test_feature.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

address comments
  python/pyspark/ml/tests/connect/test_connect_evaluation.py
Labels: ML, PYTHON, CONNECT

address comments
  python/pyspark/ml/tests/connect/test_connect_evaluation.py
Labels: ML, PYTHON, CONNECT

[SPARK-50956][ML][TESTS][FOLLOW-UP] Skip flaky EvaluationTestsOnConnect
  python/pyspark/ml/tests/connect/test_connect_evaluation.py
Labels: ML, PYTHON, CONNECT

[SPARK-50956][ML][TESTS][FOLLOW-UP] Skip flaky EvaluationTestsOnConnect
  python/pyspark/ml/tests/connect/test_connect_evaluation.py
Labels: ML, PYTHON, CONNECT

fix
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/Imputer.scala
  python/pyspark/ml/feature.py
  python/pyspark/ml/tests/test_feature.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

fix
  python/pyspark/ml/tests/test_feature.py
Labels: ML, PYTHON

[SPARK-49639][SQL] Remove the ANSI config suggestion in INVALID_INTERVAL_WITH_MICROSECONDS_ADDITION
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/DateExpressionsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/DateTimeUtilsSuite.scala
Labels: none

[SPARK-49639][SQL] Remove the ANSI config suggestion in INVALID_INTERVAL_WITH_MICROSECONDS_ADDITION
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/DateExpressionsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/DateTimeUtilsSuite.scala
Labels: none

[SPARK-50937][ML][PYTHON][CONNECT] Support `Imputer` on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/Imputer.scala
  python/pyspark/ml/feature.py
  python/pyspark/ml/tests/test_feature.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50937][ML][PYTHON][CONNECT] Support `Imputer` on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/Imputer.scala
  python/pyspark/ml/feature.py
  python/pyspark/ml/tests/test_feature.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

fix
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  python/pyspark/ml/tests/connect/test_parity_feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON, CONNECT

fix lint
  python/pyspark/ml/tests/test_feature.py
Labels: ML, PYTHON

fix import
  python/pyspark/ml/tests/test_feature.py
Labels: ML, PYTHON

Refactor UpCast resolution out
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/UpCastResolution.scala
Labels: none

[SPARK-49642][SQL] Remove the ANSI config suggestion in DATETIME_FIELD_OUT_OF_BOUNDS
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/test/resources/sql-tests/results/date.sql.out
  sql/core/src/test/resources/sql-tests/results/datetime-legacy.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/date.sql.out
  sql/core/src/test/resources/sql-tests/results/timestamp.sql.out
  sql/core/src/test/resources/sql-tests/results/timestampNTZ/timestamp-ansi.sql.out
Labels: none

[SPARK-50989][ML][PYTHON][CONNECT] Support NGram, Normalizer and Interaction on connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  python/pyspark/ml/tests/connect/test_parity_feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50989][ML][PYTHON][CONNECT] Support NGram, Normalizer and Interaction on connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  python/pyspark/ml/tests/connect/test_parity_feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON, CONNECT

fix
  mllib-local/src/main/scala/org/apache/spark/ml/linalg/Matrices.scala
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/classification/NaiveBayes.scala
  python/pyspark/ml/tests/test_classification.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

remove into clause flag
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSetVariable.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/executeImmediate.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/v2/V2CommandStrategy.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/execute-immediate.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/identifier-clause.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/sql-session-variables.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/to_from_avro.sql.out
Labels: none

[SPARK-50920][ML][PYTHON][CONNECT] Support NaiveBayes on Connect
  mllib-local/src/main/scala/org/apache/spark/ml/linalg/Matrices.scala
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/classification/NaiveBayes.scala
  python/pyspark/ml/tests/test_classification.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50920][ML][PYTHON][CONNECT] Support NaiveBayes on Connect
  mllib-local/src/main/scala/org/apache/spark/ml/linalg/Matrices.scala
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/classification/NaiveBayes.scala
  python/pyspark/ml/tests/test_classification.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

fix
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/regression/GeneralizedLinearRegression.scala
  python/pyspark/ml/regression.py
  python/pyspark/ml/tests/test_regression.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

nit
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, CONNECT

[SPARK-50940][ML][PYTHON][CONNECT] Adds support CrossValidator/CrossValidatorModel on connect
  dev/sparktestsupport/modules.py
  python/pyspark/ml/connect/readwrite.py
  python/pyspark/ml/tests/connect/test_parity_tuning.py
  python/pyspark/ml/tests/test_tuning.py
  python/pyspark/ml/tuning.py
  python/pyspark/ml/util.py
Labels: ML, PYTHON, CONNECT

[SPARK-50940][ML][PYTHON][CONNECT] Adds support CrossValidator/CrossValidatorModel on connect
  dev/sparktestsupport/modules.py
  python/pyspark/ml/connect/readwrite.py
  python/pyspark/ml/tests/connect/test_parity_tuning.py
  python/pyspark/ml/tests/test_tuning.py
  python/pyspark/ml/tuning.py
  python/pyspark/ml/util.py
Labels: ML, PYTHON, CONNECT

[SPARK-50990][SQL] Refactor `UpCast` resolution out of the `Analyzer`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/UpCastResolution.scala
Labels: none

[SPARK-50990][SQL] Refactor `UpCast` resolution out of the `Analyzer`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/UpCastResolution.scala
Labels: none

Fix inconsistent of uid for estimator and model
  python/pyspark/ml/tests/test_als.py
  python/pyspark/ml/tests/test_classification.py
  python/pyspark/ml/tests/test_clustering.py
  python/pyspark/ml/tests/test_feature.py
  python/pyspark/ml/tests/test_fpm.py
  python/pyspark/ml/tests/test_regression.py
  python/pyspark/ml/util.py
  python/pyspark/ml/wrapper.py
Labels: ML, PYTHON

init
  project/SparkBuild.scala
Labels: none

test all
  .github/workflows/build_and_test.yml
Labels: INFRA

[SPARK-50925][ML][PYTHON][CONNECT] Support GeneralizedLinearRegression on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/regression/GeneralizedLinearRegression.scala
  python/pyspark/ml/regression.py
  python/pyspark/ml/tests/test_regression.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50925][ML][PYTHON][CONNECT] Support GeneralizedLinearRegression on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/regression/GeneralizedLinearRegression.scala
  python/pyspark/ml/regression.py
  python/pyspark/ml/tests/test_regression.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

add exlcude
  project/SparkBuild.scala
Labels: none
