Repository apache/spark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, DOCS, EXAMPLES, SPARK SUBMIT, SPARK SHELL, AVRO, DSTREAM, GRAPHX, ML, MLLIB, STRUCTURED STREAMING, PYTHON, PANDAS API ON SPARK, R, YARN, KUBERNETES, WINDOWS, WEB UI, DEPLOY, CONNECT, PROTOBUF

fix timestamp based offset error
  connector/kafka-0-10-sql/src/main/resources/error/kafka-error-conditions.json
  connector/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaExceptions.scala
  connector/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaOffsetReaderAdmin.scala
  connector/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaOffsetReaderConsumer.scala
Labels: STRUCTURED STREAMING

Introduce new errors and new tests to address comments
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SqlScriptingLogicalPlans.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/SqlScriptingErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/SqlScriptingParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/scripting/SqlScriptingInterpreter.scala
  sql/core/src/test/scala/org/apache/spark/sql/scripting/SqlScriptingExecutionSuite.scala
Labels: none

Remove .expr/.typedExpr implicits
  sql/connect/common/src/main/scala/org/apache/spark/sql/connect/DataFrameNaFunctions.scala
  sql/connect/common/src/main/scala/org/apache/spark/sql/connect/DataFrameStatFunctions.scala
  sql/connect/common/src/main/scala/org/apache/spark/sql/connect/DataFrameWriterV2.scala
  sql/connect/common/src/main/scala/org/apache/spark/sql/connect/Dataset.scala
  sql/connect/common/src/main/scala/org/apache/spark/sql/connect/KeyValueGroupedDataset.scala
  sql/connect/common/src/main/scala/org/apache/spark/sql/connect/MergeIntoWriter.scala
  sql/connect/common/src/main/scala/org/apache/spark/sql/connect/RelationalGroupedDataset.scala
  sql/connect/common/src/main/scala/org/apache/spark/sql/connect/SparkSession.scala
  sql/connect/common/src/main/scala/org/apache/spark/sql/connect/columnNodeSupport.scala
Labels: CONNECT

Fix naming convention for mapStateClient
  python/pyspark/sql/streaming/stateful_processor.py
Labels: STRUCTURED STREAMING, PYTHON

Remove commented out import
  sql/core/src/main/scala/org/apache/spark/sql/execution/metric/SQLMetrics.scala
Labels: none

[SPARK-50976][ML][PYTHON] Fix the save/load of `TargetEncoder`
  mllib/src/main/scala/org/apache/spark/ml/feature/TargetEncoder.scala
  python/pyspark/ml/feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON

[SPARK-50976][ML][PYTHON] Fix the save/load of `TargetEncoder`
  mllib/src/main/scala/org/apache/spark/ml/feature/TargetEncoder.scala
  python/pyspark/ml/feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON

[SPARK-49639][SQL] Remove the ANSI config suggestion in INVALID_INTERVAL_WITH_MICROSECONDS_ADDITION
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/DateExpressionsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/DateTimeUtilsSuite.scala
Labels: none

sync
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/FunctionTableSubqueryArgumentExpression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/subquery.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/PlanAdaptiveSubqueries.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/subquery.scala
Labels: none

change version
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Labels: none

Resolved merge conflicts
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/ClientE2ETestSuite.scala
Labels: CONNECT

test
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
Labels: none

customToString for truncatedString
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/StringUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExpressionSet.scala
Labels: none

add todo
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/FunctionTableSubqueryArgumentExpression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/subquery.scala
Labels: none

restore unrelated comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Labels: none

restore unrelated comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Labels: none

[SPARK-50091][SQL] Handle case of aggregates in left-hand operand of IN-subquery
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/RewriteSubquerySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SubquerySuite.scala
Labels: none

Fix compilation
  common/network-shuffle/src/test/java/org/apache/spark/network/shuffle/SimpleDownloadFileSuite.java
Labels: none

[SPARK-50984][SQL][TESTS] Make `ExpressionImplUtilsSuite` robust by matching JDK msgs via regex
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ExpressionImplUtilsSuite.scala
Labels: none

incorporated Wenchen's suggestion
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/variantExpressions.scala
Labels: none

fix
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/IDF.scala
  python/pyspark/ml/tests/connect/test_parity_feature.py
  python/pyspark/ml/tests/test_feature.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

ZipPartitions for arbitrary number of RDDs.
  common/utils/src/main/java/org/apache/spark/api/java/function/FlatMapFunction3.java
  common/utils/src/main/java/org/apache/spark/api/java/function/FlatMapFunction4.java
  core/src/main/scala/org/apache/spark/api/java/JavaRDDLike.scala
  core/src/main/scala/org/apache/spark/rdd/RDD.scala
  core/src/main/scala/org/apache/spark/rdd/ZippedPartitionsRDD.scala
  core/src/test/java/test/org/apache/spark/Java8RDDAPISuite.java
  core/src/test/java/test/org/apache/spark/JavaAPISuite.java
  core/src/test/scala/org/apache/spark/rdd/RDDSuite.scala
Labels: none

fix tokenprovider error and add test for offsetreader error
  connector/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaOffsetReaderAdmin.scala
  connector/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaOffsetReaderConsumer.scala
  connector/kafka-0-10-sql/src/test/scala/org/apache/spark/sql/kafka010/KafkaOffsetReaderSuite.scala
  connector/kafka-0-10-token-provider/src/main/resources/error/kafka-token-provider-error-conditions.json
  connector/kafka-0-10-token-provider/src/main/scala/org/apache/spark/kafka010/KafkaConfigUpdater.scala
  connector/kafka-0-10-token-provider/src/main/scala/org/apache/spark/kafka010/KafkaTokenProviderException.scala
  connector/kafka-0-10-token-provider/src/test/scala/org/apache/spark/kafka010/KafkaConfigUpdaterSuite.scala
Labels: DSTREAM, STRUCTURED STREAMING

fix
  python/pyspark/ml/tests/test_feature.py
Labels: ML, PYTHON

[SPARK-50984][SQL][TESTS] Make `ExpressionImplUtilsSuite` robust by matching JDK msgs via regex
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ExpressionImplUtilsSuite.scala
Labels: none

[SPARK-50984][SQL][TESTS] Make `ExpressionImplUtilsSuite` robust by matching JDK msgs via regex
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ExpressionImplUtilsSuite.scala
Labels: none

[SPARK-50984][SQL][TESTS] Make `ExpressionImplUtilsSuite` robust by matching JDK msgs via regex
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ExpressionImplUtilsSuite.scala
Labels: none

[SPARK-50853][CORE][3.5] Close temp shuffle file writable channel
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/DownloadFileWritableChannel.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/SimpleDownloadFile.java
  common/network-shuffle/src/test/java/org/apache/spark/network/shuffle/SimpleDownloadFileSuite.java
Labels: none

fix
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/TargetEncoder.scala
  python/pyspark/ml/tests/connect/test_parity_feature.py
Labels: ML, MLLIB, PYTHON, CONNECT

nit
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
Labels: MLLIB

nit
  python/pyspark/ml/tests/test_feature.py
Labels: ML, PYTHON

[SPARK-50978][PYTHON][SS] Fix naming convention for mapStateClient
  python/pyspark/sql/streaming/stateful_processor.py
Labels: STRUCTURED STREAMING, PYTHON

[SPARK-50978][PYTHON][SS] Fix naming convention for mapStateClient
  python/pyspark/sql/streaming/stateful_processor.py
Labels: STRUCTURED STREAMING, PYTHON

Do not validate source column data and type
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/MySQLIntegrationSuite.scala
Labels: none

[SPARK-50091][SQL][3.5] Handle case of aggregates in left-hand operand of IN-subquery
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/RewriteSubquerySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SubquerySuite.scala
Labels: none

Test.
  python/pyspark/ml/tests/connect/test_parity_regression.py
Labels: ML, PYTHON, CONNECT

[SPARK-50987][DOCS] Make `spark-connect-overview.md`s version strings up-to-date
  docs/spark-connect-overview.md
Labels: DOCS

[SPARK-50909][PYTHON][4.0] Setup faulthandler in PythonPlannerRunners
  core/src/main/scala/org/apache/spark/api/python/PythonRunner.scala
  python/pyspark/sql/tests/test_python_datasource.py
  python/pyspark/sql/tests/test_udtf.py
  python/pyspark/sql/worker/analyze_udtf.py
  python/pyspark/sql/worker/commit_data_source_write.py
  python/pyspark/sql/worker/create_data_source.py
  python/pyspark/sql/worker/lookup_data_sources.py
  python/pyspark/sql/worker/plan_data_source_read.py
  python/pyspark/sql/worker/python_streaming_sink_runner.py
  python/pyspark/sql/worker/write_into_data_source.py
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/PythonPlannerRunner.scala
Labels: PYTHON

[SPARK-50987][DOCS] Make `spark-connect-overview.md`s version strings up-to-date
  docs/spark-connect-overview.md
Labels: DOCS

nit
  python/pyspark/ml/tests/connect/test_connect_evaluation.py
Labels: ML, PYTHON, CONNECT

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

INFRA:
  - changed-files:
    - any-glob-to-any-file: [
     '.github/**/*',
     'tools/**/*',
     'dev/create-release/**/*',
     '.asf.yaml',
     '.gitattributes',
     '.gitignore',
     'dev/merge_spark_pr.py'
    ]

BUILD:
  - changed-files:
    - all-globs-to-any-file: [
     'dev/**/*',
     '!dev/merge_spark_pr.py'
    ]
    - any-glob-to-any-file: [
     'build/**/*',
     'project/**/*',
     'assembly/**/*',
     '**/*pom.xml',
     'bin/docker-image-tool.sh',
     'bin/find-spark-home*',
     'scalastyle-config.xml'
    ]

DOCS:
  - changed-files:
    - any-glob-to-any-file: [
     'docs/**/*',
     '**/README.md',
     '**/CONTRIBUTING.md',
     'python/docs/**/*'
    ]

EXAMPLES:
  - changed-files:
    - any-glob-to-any-file: [
     'examples/**/*',
     'bin/run-example*'
    ]

CORE:
  - changed-files:
    - all-globs-to-any-file: [
     'core/**/*',
     '!**/*UI.scala',
     '!**/ui/**/*'
    ]
    - any-glob-to-any-file: [
     'common/kvstore/**/*',
     'common/network-common/**/*',
     'common/network-shuffle/**/*',
     'python/pyspark/*.py',
     'python/pyspark/tests/**/*.py'
    ]

SPARK SUBMIT:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/spark-submit*'
    ]

SPARK SHELL:
  - changed-files:
    - any-glob-to-any-file: [
     'repl/**/*',
     'bin/spark-shell*'
    ]

SQL:
  - changed-files:
    - all-globs-to-any-file: [
     '**/sql/**/*',
     '!python/**/avro/**/*',
     '!python/**/protobuf/**/*',
     '!python/**/streaming/**/*'
    ]
    - any-glob-to-any-file: [
     'common/unsafe/**/*',
     'common/sketch/**/*',
     'common/variant/**/*',
     'bin/spark-sql*',
     'bin/beeline*',
     'sbin/*thriftserver*.sh',
     '**/*SQL*.R',
     '**/DataFrame.R',
     '**/*WindowSpec.R',
     '**/*catalog.R',
     '**/*column.R',
     '**/*functions.R',
     '**/*group.R',
     '**/*schema.R',
     '**/*types.R'
    ]

AVRO:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/avro/**/*',
     'python/**/avro/**/*'
    ]

DSTREAM:
  - changed-files:
    - any-glob-to-any-file: [
     'streaming/**/*',
     'data/streaming/**/*',
     'connector/kinesis-asl/**/*',
     'connector/kinesis-asl-assembly/**/*',
     'connector/kafka-0-10/**/*',
     'connector/kafka-0-10-assembly/**/*',
     'connector/kafka-0-10-token-provider/**/*',
     'python/pyspark/streaming/**/*'
    ]

GRAPHX:
  - changed-files:
    - any-glob-to-any-file: [
     'graphx/**/*',
     'data/graphx/**/*'
    ]

ML:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ml/**/*',
     '**/*mllib_*.R'
    ]

MLLIB:
  - changed-files:
    - any-glob-to-any-file: [
     '**/mllib/**/*',
     'mllib-local/**/*'
    ]

STRUCTURED STREAMING:
  - changed-files:
    - any-glob-to-any-file: [
     '**/sql/**/streaming/**/*',
     'connector/kafka-0-10-sql/**/*',
     'python/pyspark/sql/**/streaming/**/*',
     '**/*streaming.R'
    ]

PYTHON:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/pyspark*',
     '**/python/**/*'
    ]

PANDAS API ON SPARK:
  - changed-files:
    - any-glob-to-any-file: [
     'python/pyspark/pandas/**/*'
    ]

R:
  - changed-files:
    - any-glob-to-any-file: [
     '**/r/**/*',
     '**/R/**/*',
     'bin/sparkR*'
    ]

YARN:
  - changed-files:
    - any-glob-to-any-file: [
     'resource-managers/yarn/**/*'
    ]

KUBERNETES:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/docker-image-tool.sh',
     'resource-managers/kubernetes/**/*'
    ]

WINDOWS:
  - changed-files:
    - any-glob-to-any-file: [
     '**/*.cmd',
     'R/pkg/tests/fulltests/test_Windows.R'
    ]

WEB UI:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ui/**/*',
     '**/*UI.scala'
    ]

DEPLOY:
  - changed-files:
    - any-glob-to-any-file: [
     'sbin/**/*'
    ]

CONNECT:
  - changed-files:
    - any-glob-to-any-file: [
     'sql/connect/**/*',
     'connector/connect/**/*',
     'python/**/connect/**/*'
    ]

PROTOBUF:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/protobuf/**/*',
     'python/**/protobuf/**/*'
    ]
