Repository apache/spark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, DOCS, EXAMPLES, SPARK SUBMIT, SPARK SHELL, AVRO, DSTREAM, GRAPHX, ML, MLLIB, STRUCTURED STREAMING, PYTHON, PANDAS API ON SPARK, R, YARN, KUBERNETES, WINDOWS, WEB UI, DEPLOY, CONNECT, PROTOBUF

[SPARK-50770][SS] Removing package scope for transformWithState operator APIs
  sql/api/src/main/java/org/apache/spark/api/java/function/FlatMapGroupsWithStateFunction.java
  sql/api/src/main/java/org/apache/spark/api/java/function/MapGroupsWithStateFunction.java
  sql/api/src/main/java/org/apache/spark/sql/streaming/GroupStateTimeout.java
  sql/api/src/main/java/org/apache/spark/sql/streaming/TimeMode.java
  sql/api/src/main/scala/org/apache/spark/sql/streaming/ExpiredTimerInfo.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/GroupState.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/ListState.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/MapState.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/QueryInfo.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessor.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessorHandle.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/TimerValues.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/ValueState.scala
  sql/core/src/main/scala/org/apache/spark/sql/KeyValueGroupedDataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/TestGroupState.scala
Labels: STRUCTURED STREAMING

[SPARK-50798][SQL][FOLLOWUP] Normalize expressions with random seed
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/NormalizePlan.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/plans/NormalizePlanSuite.scala
Labels: none

[SPARK-50798][SQL][FOLLOWUP] Normalize expressions with random seed
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/NormalizePlan.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/plans/NormalizePlanSuite.scala
Labels: none

skip ttl suite for now
  python/pyspark/sql/tests/pandas/test_pandas_transform_with_state.py
Labels: PYTHON

[SPARK-50909][PYTHON] Setup faulthandler in PythonPlannerRunners
  core/src/main/scala/org/apache/spark/api/python/PythonRunner.scala
  python/pyspark/sql/tests/test_python_datasource.py
  python/pyspark/sql/tests/test_udtf.py
  python/pyspark/sql/worker/analyze_udtf.py
  python/pyspark/sql/worker/commit_data_source_write.py
  python/pyspark/sql/worker/create_data_source.py
  python/pyspark/sql/worker/lookup_data_sources.py
  python/pyspark/sql/worker/plan_data_source_read.py
  python/pyspark/sql/worker/python_streaming_sink_runner.py
  python/pyspark/sql/worker/write_into_data_source.py
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/PythonPlannerRunner.scala
Labels: PYTHON

[SPARK-50908][SS][PYTHON] Disable flaky TTL test in `test_pandas_transform_with_state.py`
  python/pyspark/sql/tests/pandas/test_pandas_transform_with_state.py
Labels: PYTHON

[SPARK-50908][SS][PYTHON] Disable flaky TTL test in `test_pandas_transform_with_state.py`
  python/pyspark/sql/tests/pandas/test_pandas_transform_with_state.py
Labels: PYTHON

rename
  examples/src/main/scala/org/apache/spark/examples/sql/connect/SparkConnectPi.scala
Labels: EXAMPLES

Update API naming
  python/pyspark/sql/pandas/group_ops.py
  python/pyspark/sql/streaming/stateful_processor.py
  python/pyspark/sql/tests/pandas/test_pandas_transform_with_state.py
Labels: STRUCTURED STREAMING, PYTHON

[SPARK-50884][ML][PYTHON][CONNECT] Support isLargerBetter in Evaluator
  python/pyspark/ml/evaluation.py
  python/pyspark/ml/tests/test_evaluation.py
Labels: ML, PYTHON

[SPARK-50884][ML][PYTHON][CONNECT] Support isLargerBetter in Evaluator
  python/pyspark/ml/evaluation.py
  python/pyspark/ml/tests/test_evaluation.py
Labels: ML, PYTHON

fix
  sql/connect/common/src/test/resources/query-tests/explain-results/function_try_variant_get.explain
  sql/connect/common/src/test/resources/query-tests/explain-results/function_variant_get.explain
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/PushVariantIntoScan.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/PushVariantIntoScanSuite.scala
Labels: CONNECT

[SPARK-50928][ML][PYTHON][CONNECT] Support GaussianMixture on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/clustering/GaussianMixture.scala
  python/pyspark/ml/clustering.py
  python/pyspark/ml/tests/test_clustering.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50928][ML][PYTHON][CONNECT] Support GaussianMixture on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/clustering/GaussianMixture.scala
  python/pyspark/ml/clustering.py
  python/pyspark/ml/tests/test_clustering.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

init
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  python/pyspark/ml/tests/connect/test_parity_feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON, CONNECT

init
  python/pyspark/ml/tests/connect/test_parity_feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, PYTHON, CONNECT

Fix oss baseForAvgMetric value
  core/src/main/scala/org/apache/spark/util/MetricUtils.scala
Labels: none

extract string
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/avro/AvroUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/avro/SchemaConverters.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetAvroCompatibilitySuite.scala
Labels: AVRO

init
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/ChiSqSelector.scala
  mllib/src/main/scala/org/apache/spark/ml/feature/UnivariateFeatureSelector.scala
  mllib/src/main/scala/org/apache/spark/ml/feature/VarianceThresholdSelector.scala
  python/pyspark/ml/tests/test_feature.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

refactor
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/avro/AvroUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/avro/SchemaConverters.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetAvroCompatibilitySuite.scala
Labels: AVRO

[SPARK-50963][ML][PYTHON][TESTS][FOLLOW-UP] Enable a parity test
  python/pyspark/ml/tests/connect/test_parity_feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, PYTHON, CONNECT

[SPARK-50963][ML][PYTHON][TESTS][FOLLOW-UP] Enable a parity test
  python/pyspark/ml/tests/connect/test_parity_feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, PYTHON, CONNECT

[SPARK-50931][ML][PYTHON][CONNECT] Support Binarizer on connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  python/pyspark/ml/tests/connect/test_parity_feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50931][ML][PYTHON][CONNECT] Support Binarizer on connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  python/pyspark/ml/tests/connect/test_parity_feature.py
  python/pyspark/ml/tests/test_feature.py
Labels: ML, MLLIB, PYTHON, CONNECT

Adds support CrossValidator/CrossValidatorModel on connect
  dev/sparktestsupport/modules.py
  python/pyspark/ml/connect/readwrite.py
  python/pyspark/ml/tests/connect/test_parity_tuning.py
  python/pyspark/ml/tests/test_tuning.py
  python/pyspark/ml/tuning.py
  python/pyspark/ml/util.py
Labels: ML, PYTHON, CONNECT

[SPARK-50972][BUILD] Upgrade Guava to 33.4.0
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
  project/SparkBuild.scala
Labels: none

[SPARK-50972][BUILD] Upgrade Guava to 33.4.0
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
  project/SparkBuild.scala
Labels: none

[SPARK-50971][CORE] Combine the two retrievals of `taskDescription` in `CoarseGrainedExecutorBackend#statusUpdate`
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
Labels: none

[SPARK-50971][CORE] Combine the two retrievals of `taskDescription` in `CoarseGrainedExecutorBackend#statusUpdate`
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
Labels: none

[SPARK-50853][CORE] Close temp shuffle file writable channel
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/DownloadFileWritableChannel.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/SimpleDownloadFile.java
  common/network-shuffle/src/test/java/org/apache/spark/network/shuffle/SimpleDownloadFileSuite.java
Labels: none

[SPARK-50853][CORE] Close temp shuffle file writable channel
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/DownloadFileWritableChannel.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/SimpleDownloadFile.java
  common/network-shuffle/src/test/java/org/apache/spark/network/shuffle/SimpleDownloadFileSuite.java
Labels: none

lint
  python/pyspark/sql/streaming/stateful_processor.py
  python/pyspark/sql/tests/pandas/test_pandas_transform_with_state.py
Labels: STRUCTURED STREAMING, PYTHON

[SPARK-50933][ML][PYTHON][CONNECT] Support Feature Selectors on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/ChiSqSelector.scala
  mllib/src/main/scala/org/apache/spark/ml/feature/UnivariateFeatureSelector.scala
  mllib/src/main/scala/org/apache/spark/ml/feature/VarianceThresholdSelector.scala
  python/pyspark/ml/tests/test_feature.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50933][ML][PYTHON][CONNECT] Support Feature Selectors on Connect
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Estimator
  mllib/src/main/resources/META-INF/services/org.apache.spark.ml.Transformer
  mllib/src/main/scala/org/apache/spark/ml/feature/ChiSqSelector.scala
  mllib/src/main/scala/org/apache/spark/ml/feature/UnivariateFeatureSelector.scala
  mllib/src/main/scala/org/apache/spark/ml/feature/VarianceThresholdSelector.scala
  python/pyspark/ml/tests/test_feature.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
Labels: ML, MLLIB, PYTHON, CONNECT

[SPARK-50851][ML][CONNECT][FOLLOW-UP] Simplify the message by applying the UDT
  python/pyspark/ml/connect/serialize.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/Serializer.scala
Labels: ML, PYTHON, CONNECT

[SPARK-50851][ML][CONNECT][FOLLOW-UP] Simplify the message by applying the UDT
  python/pyspark/ml/connect/serialize.py
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLUtils.scala
  sql/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/Serializer.scala
Labels: ML, PYTHON, CONNECT

[MINOR][SQL] Remove unused TableSchema constructor
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/TableSchema.java
Labels: none

[SPARK-50970][PYTHON][SS] Unify naming convention for stateful processor APIs
  python/pyspark/sql/pandas/group_ops.py
  python/pyspark/sql/streaming/stateful_processor.py
  python/pyspark/sql/tests/pandas/test_pandas_transform_with_state.py
Labels: STRUCTURED STREAMING, PYTHON

[SPARK-50970][PYTHON][SS] Unify naming convention for stateful processor APIs
  python/pyspark/sql/pandas/group_ops.py
  python/pyspark/sql/streaming/stateful_processor.py
  python/pyspark/sql/tests/pandas/test_pandas_transform_with_state.py
Labels: STRUCTURED STREAMING, PYTHON

Change format starts with 0x
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/expressions/expressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Labels: none

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

INFRA:
  - changed-files:
    - any-glob-to-any-file: [
     '.github/**/*',
     'tools/**/*',
     'dev/create-release/**/*',
     '.asf.yaml',
     '.gitattributes',
     '.gitignore',
     'dev/merge_spark_pr.py'
    ]

BUILD:
  - changed-files:
    - all-globs-to-any-file: [
     'dev/**/*',
     '!dev/merge_spark_pr.py'
    ]
    - any-glob-to-any-file: [
     'build/**/*',
     'project/**/*',
     'assembly/**/*',
     '**/*pom.xml',
     'bin/docker-image-tool.sh',
     'bin/find-spark-home*',
     'scalastyle-config.xml'
    ]

DOCS:
  - changed-files:
    - any-glob-to-any-file: [
     'docs/**/*',
     '**/README.md',
     '**/CONTRIBUTING.md',
     'python/docs/**/*'
    ]

EXAMPLES:
  - changed-files:
    - any-glob-to-any-file: [
     'examples/**/*',
     'bin/run-example*'
    ]

CORE:
  - changed-files:
    - all-globs-to-any-file: [
     'core/**/*',
     '!**/*UI.scala',
     '!**/ui/**/*'
    ]
    - any-glob-to-any-file: [
     'common/kvstore/**/*',
     'common/network-common/**/*',
     'common/network-shuffle/**/*',
     'python/pyspark/*.py',
     'python/pyspark/tests/**/*.py'
    ]

SPARK SUBMIT:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/spark-submit*'
    ]

SPARK SHELL:
  - changed-files:
    - any-glob-to-any-file: [
     'repl/**/*',
     'bin/spark-shell*'
    ]

SQL:
  - changed-files:
    - all-globs-to-any-file: [
     '**/sql/**/*',
     '!python/**/avro/**/*',
     '!python/**/protobuf/**/*',
     '!python/**/streaming/**/*'
    ]
    - any-glob-to-any-file: [
     'common/unsafe/**/*',
     'common/sketch/**/*',
     'common/variant/**/*',
     'bin/spark-sql*',
     'bin/beeline*',
     'sbin/*thriftserver*.sh',
     '**/*SQL*.R',
     '**/DataFrame.R',
     '**/*WindowSpec.R',
     '**/*catalog.R',
     '**/*column.R',
     '**/*functions.R',
     '**/*group.R',
     '**/*schema.R',
     '**/*types.R'
    ]

AVRO:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/avro/**/*',
     'python/**/avro/**/*'
    ]

DSTREAM:
  - changed-files:
    - any-glob-to-any-file: [
     'streaming/**/*',
     'data/streaming/**/*',
     'connector/kinesis-asl/**/*',
     'connector/kinesis-asl-assembly/**/*',
     'connector/kafka-0-10/**/*',
     'connector/kafka-0-10-assembly/**/*',
     'connector/kafka-0-10-token-provider/**/*',
     'python/pyspark/streaming/**/*'
    ]

GRAPHX:
  - changed-files:
    - any-glob-to-any-file: [
     'graphx/**/*',
     'data/graphx/**/*'
    ]

ML:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ml/**/*',
     '**/*mllib_*.R'
    ]

MLLIB:
  - changed-files:
    - any-glob-to-any-file: [
     '**/mllib/**/*',
     'mllib-local/**/*'
    ]

STRUCTURED STREAMING:
  - changed-files:
    - any-glob-to-any-file: [
     '**/sql/**/streaming/**/*',
     'connector/kafka-0-10-sql/**/*',
     'python/pyspark/sql/**/streaming/**/*',
     '**/*streaming.R'
    ]

PYTHON:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/pyspark*',
     '**/python/**/*'
    ]

PANDAS API ON SPARK:
  - changed-files:
    - any-glob-to-any-file: [
     'python/pyspark/pandas/**/*'
    ]

R:
  - changed-files:
    - any-glob-to-any-file: [
     '**/r/**/*',
     '**/R/**/*',
     'bin/sparkR*'
    ]

YARN:
  - changed-files:
    - any-glob-to-any-file: [
     'resource-managers/yarn/**/*'
    ]

KUBERNETES:
  - changed-files:
    - any-glob-to-any-file: [
     'bin/docker-image-tool.sh',
     'resource-managers/kubernetes/**/*'
    ]

WINDOWS:
  - changed-files:
    - any-glob-to-any-file: [
     '**/*.cmd',
     'R/pkg/tests/fulltests/test_Windows.R'
    ]

WEB UI:
  - changed-files:
    - any-glob-to-any-file: [
     '**/ui/**/*',
     '**/*UI.scala'
    ]

DEPLOY:
  - changed-files:
    - any-glob-to-any-file: [
     'sbin/**/*'
    ]

CONNECT:
  - changed-files:
    - any-glob-to-any-file: [
     'sql/connect/**/*',
     'connector/connect/**/*',
     'python/**/connect/**/*'
    ]

PROTOBUF:
  - changed-files:
    - any-glob-to-any-file: [
     'connector/protobuf/**/*',
     'python/**/protobuf/**/*'
    ]
